<style>
#mainSponsorOpp .card-link:before,
#mainSponsorOpp .card-link:after {
  content: none;
}
</style>

<div id="mainSponsorOpp" class="row">

  <div class="uk-child-width-1-2@s" uk-grid>

  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-img-top" id="sponPresenting">
        <span>Presenting Sponsor</span>
      </div>
      <div class="card-block">
        <h4 class="card-title" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
        <span itemprop="price"><sup>$</sup>250,000</span>
        </h4>
        <p class="card-text">Provides 44 adults with a disability 240 hours of paid, on-the-job training.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Twenty invitations with highest priority seating</li>
        <li class="list-group-item">Ten exclusive invitations to photo opportunity with guest speaker</li>
        <li class="list-group-item">Prominent recognition in all press, event signage, and advertising</li>
        <li class="list-group-item">Prominent logo placement on large screens during event</li>
        <li class="list-group-item">Recognition on Goodwill Dallas website for one year</li>
        <li class="list-group-item">VIP parking for all guests</li>
      </ul>
      <div class="card-block">
        <span class="card-link">Sponsor</span>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-img-top" id="sponPremier">
      <span>Premier Sponsor</span>
      </div>
      <div class="card-block" id="premFix">
        <h4 class="card-title" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
        <span itemprop="price"><sup>$</sup>100,000</span>
        </h4>
        <p class="card-text">Supports 16 adults with a disability 240 hours of paid, on-the-job training.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Ten invitations with highest priority seating</li>
        <li class="list-group-item">Six exclusive invitations to photo opportunity with guest speaker</li>
        <li class="list-group-item">Prominent recognition in all press, event signage, and advertising</li>
        <li class="list-group-item">Recognition on Goodwill Dallas website for one year</li>
        <li class="list-group-item">VIP parking for all guests</li>
      </ul>
      <div class="card-block">
        <span class="card-link">Sponsor</span>
      </div>
    </div>
  </div>

  </div>

</div>
