<!-- bottomNav -->
<nav class="container-fluid" id="bottomNav">
  <ul class="row nobtm uk-nav-default" uk-nav>
    <li class="col">
      <a href="{{ .Site.BaseURL }}">
        <span uk-icon="icon: home"></span>
        <span>Home</span>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <span uk-icon="icon: code"></span>
        <span>Work</span>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <span uk-icon="icon: info"></span>
        <span>Resume</span>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <span uk-icon="icon: settings"></span>
        <span>Settings</span>
      </a>
    </li>
  </ul>
</nav>
