<!-- The Lunch 2017 Concept -->

<style>
  .embed-pen-info {
    background: rgba(0,0,0,.65) !important;
    right: 0 !important;
    padding: 15px !important;
  }

  .background-overlay {
    background: radial-gradient(ellipse farthest-corner at center center, rgba(250,250,250,0.5) 20%, rgba(250,250,250,250.85) 100%) repeat scroll 0% 0% !important;
  }

  .run-button {
    border-color: #505050 !important;
    color: #303030 !important;
  }

  .run-button svg {
    fill: #303030 !important;
  }
</style>

<div class="col-md-4 grid-item">
  <div class="card">

    <div class="card-image">
      <p data-height="450" data-theme-id="0" data-slug-hash="QpvLOJ" data-default-tab="js,result" data-user="williampansky" data-embed-version="2" data-pen-title="The Lunch 2017" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/williampansky/pen/QpvLOJ/">The Lunch 2017</a> by William Pansky (<a href="http://codepen.io/williampansky">@williampansky</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>

    <div class="card-content">
      <span class="card-title activator">
        <i class="material-icons left iHome">code</i>
        The Lunch 2017 Concept
      </span>
    </div>

    <div class="card-action">
      <a href="#">#codepen</a>
    </div>
  </div>
</div>

<!-- CUTX Locations List -->
<div class="col-md-4 grid-item">
  <div class="card">

    <div class="card-image">
      <p data-height="450" data-theme-id="0" data-slug-hash="evvwbR" data-default-tab="result" data-user="williampansky" data-embed-version="2" data-pen-title="CUTX Locations List" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/williampansky/pen/evvwbR/">CUTX Locations List</a> by William Pansky (<a href="http://codepen.io/williampansky">@williampansky</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>

    <div class="card-content">
      <span class="card-title activator">
        <i class="material-icons left iHome">code</i>
        CUTX Locations List
      </span>
    </div>

    <div class="card-action">
      <a href="#">#codepen</a>
    </div>
  </div>
</div>

<!-- MAA - Event Card -->
<div class="col-md-4 grid-item">
  <div class="card">

    <div class="card-image">
      <p data-height="450" data-theme-id="0" data-slug-hash="dvvbLd" data-default-tab="js,result" data-user="williampansky" data-embed-version="2" data-pen-title="MAA - Event Card List" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/williampansky/pen/dvvbLd/">MAA - Event Card</a> by William Pansky (<a href="http://codepen.io/williampansky">@williampansky</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>

    <div class="card-content">
      <span class="card-title activator">
        <i class="material-icons left iHome">code</i>
        MAA - Event Card List
      </span>
    </div>

    <div class="card-action">
      <a href="#">#codepen</a>
    </div>
  </div>
</div>

<!-- MAA - Hero Bar -->
<div class="col-md-4 grid-item">
  <div class="card">

    <div class="card-image">
      <p data-height="450" data-theme-id="0" data-slug-hash="LWJdXL" data-default-tab="css,result" data-user="williampansky" data-embed-version="2" data-pen-title="MAA - Hero Bar" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/williampansky/pen/LWJdXL/">MAA - Hero Bar</a> by William Pansky (<a href="http://codepen.io/williampansky">@williampansky</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>

    <div class="card-content">
      <span class="card-title activator">
        <i class="material-icons left iHome">code</i>
        MAA - Hero Bar
      </span>
    </div>

    <div class="card-action">
      <a href="#">#codepen</a>
    </div>
  </div>
</div>

<!-- jQuery Quiz Plugin -->
<div class="col-md-4 grid-item">
  <div class="card">

    <div class="card-image">
      <p data-height="450" data-theme-id="0" data-slug-hash="EWYGXq" data-default-tab="js,result" data-user="williampansky" data-embed-version="2" data-pen-title="jQuery Quiz Plugin" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/williampansky/pen/EWYGXq/">jQuery Quiz Plugin</a> by William Pansky (<a href="http://codepen.io/williampansky">@williampansky</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>

    <div class="card-content">
      <span class="card-title activator">
        <i class="material-icons left iHome">code</i>
        jQuery Quiz Plugin
      </span>
    </div>

    <div class="card-action">
      <a href="#">#codepen</a>
    </div>
  </div>
</div>

<!-- fCC: Build a Portfolio Page -->
<div class="col-md-4 grid-item">
  <div class="card">

    <div class="card-image">
      <p data-height="450" data-theme-id="0" data-slug-hash="xgyemw" data-default-tab="js,result" data-user="williampansky" data-embed-version="2" data-pen-title="fCC: Build a Portfolio Page" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/williampansky/pen/xgyemw/">fCC: Build a Portfolio Page</a> by William Pansky (<a href="http://codepen.io/williampansky">@williampansky</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>

    <div class="card-content">
      <span class="card-title activator">
        <i class="material-icons left iHome">code</i>
        Free Code Camp: Build a Portfolio Page
      </span>
    </div>

    <div class="card-action">
      <a href="#">#codepen</a>
    </div>
  </div>
</div>

<!-- GOOD - Image Conversion -->
<div class="col-md-4 grid-item">
  <div class="card">

    <div class="card-image">
      <p data-height="450" data-theme-id="0" data-slug-hash="zNXpMp" data-default-tab="css,result" data-user="williampansky" data-embed-version="2" data-pen-title="GOOD - Image Conversion" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/williampansky/pen/zNXpMp/">GOOD - Image Conversion</a> by William Pansky (<a href="http://codepen.io/williampansky">@williampansky</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>

    <div class="card-content">
      <span class="card-title activator">
        <i class="material-icons left iHome">code</i>
        Free Code Camp: Build a Tribute Page
      </span>
    </div>

    <div class="card-action">
      <a href="#">#codepen</a>
    </div>
  </div>
</div>

<!-- fCC: Build a Tribute Page -->
<div class="col-md-4 grid-item">
  <div class="card">

    <div class="card-image">
      <!-- <p data-height="691" data-width="100%" data-theme-id="0" data-slug-hash="KavJLN" data-default-tab="result" data-user="williampansky" data-embed-version="2" data-pen-title="fCC: Build a Tribute Page" class="codepen">See the Pen <a href="http://codepen.io/williampansky/pen/KavJLN/">fCC: Build a Tribute Page</a> by William Pansky (<a href="http://codepen.io/williampansky">@williampansky</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script> -->
      <p data-height="450" data-theme-id="0" data-slug-hash="KavJLN" data-default-tab="result" data-user="williampansky" data-embed-version="2" data-pen-title="fCC: Build a Tribute Page" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/williampansky/pen/KavJLN/">fCC: Build a Tribute Page</a> by William Pansky (<a href="http://codepen.io/williampansky">@williampansky</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>

    <div class="card-content">
      <span class="card-title activator">
        <i class="material-icons left iHome">code</i>
        Free Code Camp: Build a Tribute Page
      </span>
    </div>

    <div class="card-action">
      <a href="#">#codepen</a>
    </div>
  </div>
</div>

<!-- FAIR - Buttons -->
<div class="col-md-4 grid-item">
  <div class="card">

    <div class="card-image">
      <!-- <p data-height="334" data-width="100%" data-theme-id="0" data-slug-hash="KaWdGj" data-default-tab="result" data-user="williampansky" data-embed-version="2" data-pen-title="FAIR - Buttons" class="codepen">See the Pen <a href="http://codepen.io/williampansky/pen/KaWdGj/">FAIR - Buttons</a> by William Pansky (<a href="http://codepen.io/williampansky">@williampansky</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script> -->
      <p data-height="450" data-theme-id="0" data-slug-hash="KaWdGj" data-default-tab="result" data-user="williampansky" data-embed-version="2" data-pen-title="FAIR - Buttons" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/williampansky/pen/KaWdGj/">FAIR - Buttons</a> by William Pansky (<a href="http://codepen.io/williampansky">@williampansky</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>

    <div class="card-content">
      <span class="card-title activator">
        <i class="material-icons left iHome">code</i>
        FAIR - Buttons
      </span>
    </div>

    <div class="card-action">
      <a href="#">#codepen</a>
    </div>
  </div>
</div>
