</main>
<hr class="uk-nav-divider-small"></hr>
<footer class="uk-offcanvas-content pansky-home">
  <section id="contact" class="uk-container uk-section uk-section-small">
    <h2 class="uk-text-bold">Contact</h2>
    {{ partial "contact-form" . }}
  </section>
  <section class="uk-container uk-margin-large-bottom">
    {{ partial "social" . }}
  </section>
  <section class="uk-container uk-margin-small-bottom">
    <p class="uk-text-small uk-margin-small-bottom" id="copyrightFooter">
      © <script>document.getElementById('copyrightFooter').appendChild(document.createTextNode(""+new Date().getFullYear()))</script>&nbsp;William Pansky.
    </p>
  </section>
</footer>

<div id="old">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>
          Sorry, we don't support screens below 320px.
        </p>
      </div>
    </div>
  </div>
</div>

{{ partial "scripts" . }}

</body>
</html>
