<section class="uk-margin-small-top uk-margin-bottom">
  <h3><a href="/">William Pansky</a></h3>
  <p class="uk-margin-small-bottom">Front-end web developer and graphic designer with a desire to solve complex website interface problems through creative and UX-minded solutions.</p>
  <ul class="uk-nav uk-nav-primary uk-margin-auto-vertical">
    <li><a href="/">
      <span uk-icon="icon: bolt" class="uk-margin-small-right uk-icon"></span>
      Projects</a>
    </li>
    <li><a href="/resume">
      <span uk-icon="icon: copy" class="uk-margin-small-right uk-icon"></span>
      Resume</a>
    </li>
    <li><a href="#contact">
      <span uk-icon="icon: mail" class="uk-margin-small-right uk-icon"></span>
      Contact</a>
    </li>
  </ul>
</section>
