<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script async src="{{ .Site.BaseURL}}js/velocity.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.ui.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.20/js/uikit.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.20/js/uikit-icons.min.js"></script>
<!-- <script async src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script> -->
<script async src="{{ .Site.BaseURL}}js/slideout.js"></script>
<script async src="{{ .Site.BaseURL}}js/pants.js"></script>
