<ul class="uk-iconnav uk-flex-around pansky-social">
  <li><a href="https://linkedin.com/in/williampansky" target="_blank" title="Opens new tab" uk-tooltip uk-icon="icon: linkedin; ratio: 1.5"></a></li>
  <li><a href="https://github.com/williampansky" target="_blank" title="Opens new tab" uk-tooltip uk-icon="icon: github; ratio: 1.5"></a></li>
  <li><a href="https://www.behance.net/williampansky" target="_blank" title="Opens new tab" uk-tooltip uk-icon="icon: behance; ratio: 1.5"></a></li>
</ul>
