{{ partial "head/_index" . }}

<span id="readingProgress"></span>

<main class="container">
    <div class="push-left">
        <article class="article">
            <header class="header">
                {{ if and (.Params.client.avatar) (.Params.client.name) (.Params.client.description) }}
                    <div class="client-block">
                        <img
                            src="{{ .Params.client.avatar }}"
                            class="avatar"
                            alt="{{ .Params.client.name }}"
                        />
                        <div class="meta">
                            <p class="client">{{ .Params.client.name }}</p>
                            <p class="description">
                                {{- .Params.client.description -}}
                            </p>
                        </div>
                    </div>
                {{ end }}

                {{ if and (.Params.project.title) }}
                    <h1 class="title">{{ .Params.project.title }}</h1>
                {{ end }}

                {{ if and (.Params.project.name) (.Params.project.tag) }}
                    <p class="info">
                        <span>{{ .Params.project.category }}</span>
                        <span>&nbsp;·&nbsp;</span>
                        <strong>
                            <span>{{ .Params.project.name }}</span>
                        </strong>
                    </p>
                {{ end }}

                <p class="date">
                    <strong>
                        <span>Published on</span>
                        <time datetime="{{ .Date.Format "2006-01-02" }}">
                            {{- .PublishDate.Format "January 2, 2006" -}}
                        </time><span>.</span>
                    </strong>
                    {{ if (.Lastmod) }}
                        <span>Last modified on</span>
                        <time datetime="{{ .Lastmod.Format "2006-01-02" }}">
                            {{- .Lastmod.Format "January 2, 2006" -}}
                        </time><span>.</span>
                    {{ end }}
                </p>

                <p class="info">
                    <span class="count">Word count: {{ .WordCount  }}.</span>
                    <strong class="read">{{ .ReadingTime }} minute read.</strong>
                </p>
            </header>

            {{ if and (.Params.project.image) (.Params.client.name) }}
                <section class="hero">
                    <figure class="figure">
                        <img
                        class="image"
                        src="{{ .Params.project.image }}"
                        alt="{{ .Params.project.name }}" />
                        {{ if (.Params.project.caption) }}
                            <figcaption class="caption">
                                <span>{{ .Params.client.caption }}</span>
                            </figcaption>
                        {{ end }}
                    </figure>
                </section>
            {{ end }}

            {{ if (.Content) }}
                <section class="content">
                    {{ if (.Params.project.lead) }}
                        <p class="lead">{{ .Params.project.lead }}</p>
                    {{ end }}
                    {{ .Content }}
                </section>
            {{ end }}

            {{ if (isset .Params "sources") }}
                <footer class="footer">
                    <div class="sources">
                        <h2>Sources</h2>
                        <ul>
                            {{ range $i, $sequence := .Params.sources }}
                                <li>
                                    <a
                                    href="{{ $sequence.url }}"
                                    target="_blank">
                                        {{ $sequence.name }}
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </footer>
            {{ end }}
        </article>

        <aside
        class="container uk-animation-slide-right-small toc"
        uk-scrollspy-nav="closest:li; scroll:true;">
            {{ .TableOfContents }}
        </aside>
    </div>

    <footer class="section">
        <div class="container small">
            {{ partial "footer/global" . }}
        </div>
    </footer>
</main>

{{ partial "footer/_index" . }}
