{{ if or (.IsHome) (.Pages) }}
{{ else }}
    <nav class="navbar">
        <div class="navbar-left">
            <ul class="nav">
                <li>
                    <a
                    class="nav-item author"
                    href="/">
                        <span>{{ .Site.Params.Author }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-right">
            {{ partial "nav/_index" . }}
        </div>
    </nav>
{{ end }}