{{ partial "head/_index" . }}
    <main class="container">

        <header class="section">
            {{ partial "intro" . }}
        </header>

        <section class="section small">
            <div class="container xsmall resume">
                {{ range first 10 (where .Data.Pages.ByPublishDate.Reverse "Section" "resume") }}
                    {{ partial "resume/list.item" . }}
                {{ end }}
            </div>
        </section>

        <footer class="section">
            <div class="container small">
                {{ partial "footer/global" . }}
            </div>
        </footer>

    </main>
{{ partial "footer/_index" . }}
