$primary:       #0076d6;
$base:          rgba(0, 0, 0, 0.695);
$base-light:    rgba(0, 0, 0, 0.515);
$base-alt:      rgba(0, 0, 0, 0.825);
$white-alt:     #dcdcdc;
$black-alt:     #222;
$gray-alt:      #595959;

body {
    background-color: #fafafa;
    color: $base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $base-alt;
}

strong {
    color: $base-alt;
}

a,
a:link,
a:visited {
    color: $primary;
}

.navbar {
    a,
    a:link,
    a:visited {
        color: white;
    }
}

.project {
    a {
        color: inherit;
    }

    &-title {
        color: $primary;
    }

    &-body {
        color: $base;
    }

    &-category,
    &-details {
        color: $base-light;
    }

    hr {
        border-color: $white-alt;
    }
}

.toc {
    a {
        color: inherit;
    }
}