// main: ../main.scss

html, body {
  color: $bodyColor;
  font-size: 18px;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  // color: $headingsColor;
  font-family: $headings;
}

p,ul,ol,li {
  font-family: $bodyCopy;
}

a {
  transition: $ease-fast;
}
