{{ partial "header" . }}

{{ partial "offcanvas" . }}

<article class="uk-margin-large-bottom pansky-project">
  <header class="uk-container uk-section uk-section-small">
    <h1 class="uk-article-title uk-text-bold">goodwilldallas.org</h1>
  </header>
  <section id="introduction" class="uk-container uk-section uk-section-small">
    <h2>Introduction</h2>
    <hr class="uk-divider-small" />
    <p class="uk-text-lead">
      For over 90 years Goodwill Dallas has been committed to providing job training and employment to  those with disabilities and disadvantaging conditions.</em>
    </p>
    <p class="uk-text-center">
      <img class="uk-border-circle" src="{{ .Site.BaseURL }}img/projects/good-lunch/good-face-block.jpg" width="100px" alt="Goodwill face">
    </p>
    <p>
      As part of the creative department of Miller Ad Agency, we collaborated and worked to bring Goodwill Dallas the new life it came looking for.
    </p>
  </section>
  <section id="objective" class="uk-container uk-section uk-section-small">
    <h2>Objective</h2>
    <hr class="uk-divider-small" />
    <p>
      Establish and implement a new identity for Goodwill Dallas; a fresh look to update their brand and bring the Dallas branch, with it’s 15+ store locations, up to the modern age.
    </p>
  </section>
  <!-- <section id="projectDetails" class="uk-container uk-section uk-section-small">
    {{ partial "projects/good-lunch/section-projectDetails" . }}
  </section> -->
  <section id="development" class="uk-container uk-section uk-section-small">
    <h2>Development</h2>
    <hr class="uk-divider-small" />
    <p>
      Goodwill Dallas prides itself on the success of its clients, the disadvantaged individuals that find new life from Goodwill’s humanitarian efforts. To emphasize this, we hired a top-tier local professional photographer to capture Goodwill Dallas in its everyday life. These photos, after minor post-processing, produced extremely powerful images to feature throughout this new identity package; brochures, deliverables, on the website, etc. These pictures really sold the emotional impact that Goodwill Dallas strives for when helping those in need.
    </p>
    <p>
      Next, we tackled their logo. Due to national corporate regulations, there was only so much we could do. Can’t do this and can’t do that; our creativity here was severely limited. However, sometimes the more barriers around a project - the more ingenuity must be conjured. The end product for the logo was clean, minimal, and excellent.
    </p>
    <p>
      We created a style guide, business cards, folding brochures, a complete website overhaul, and much more. It was a pleasure to work with Goodwill Industries of Dallas and we continue to cooperate in joint endeavors to this day.
    </p>
  </section>
  <section id="screens" class="uk-container uk-section uk-section-xsmall">
    <img src="{{ .Site.BaseURL }}img/portfolio/goodwill-dallas-website/good-002.jpg" alt="Goodwill face">
    <img src="{{ .Site.BaseURL }}img/portfolio/goodwill-dallas-website/good-020.jpg" alt="Goodwill face">
  </section>
  <section id="myRole" class="uk-container uk-section uk-section-xsmall">
    <h2>My role</h2>
    <p>
      My part revolved around the website. Everything from structure to wireframing to conceptual mockups to production assets to HTML and vanilla CSS (not discovering Sass until well after this project’s completion).
    </p>
  </section>
  <section id="oldSite" class="uk-container uk-section uk-section-xsmall">
    <h2>Wayback</h2>
    <p>
      If you're interested in browsing around the pre-redesign version of the website, you can head on over to the <a href="https://web.archive.org/web/20140110155931/http://goodwilldallas.org/" target="_blank" title="Opens new tab" uk-tooltip>Wayback Machine<sup>[*]</sup></a>
    </p>
  </section>
</article>

{{ partial "footer" . }}
