// ==============================================================
// # RESETS
//
// Tackling the hard stuff, lol
// ==============================================================

// -----------------------------------------
// ## setting base px size for rems
html, body {
  font-size: 16px;
  line-height: 1.5;
}

html {
  overflow-y: scroll;
}

body {
  // overflow-x: hidden;
  // @media (min-width: 1024px) { overflow: auto; }
}

a {
  color: $color-accent;
  text-decoration: underline;
  &:hover, &:focus {
    color: $color-accent-lighter;
    text-decoration: none;
  }
}

.pansky-link-external {
  position: relative;
  &:after {
    content: "*";
    font-size: 80%;
    position: absolute;
    top: 0;
    right: -5px;
  }
}

.uk-offcanvas-container,
.uk-offcanvas-page {
  overflow: hidden;
}

.uk-offcanvas-overlay::before {
  background: rgba(0,0,0,.75);
}

.noscroll { overflow: hidden; }

// .uk-child-width-1-3\@l > * {
//   width: 33.33% !important;
// }

// body {
//   &::-webkit-scrollbar {
//     width: 10px;
//   }
// }
//
// body::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
// }
//
// body,
// #offcanvas {
//   &::-webkit-scrollbar-thumb {
//     background-color: $color-accent;
//     outline: 1px solid $color-accent;
//   }
// }
