// ==============================================================
// # DEFINITIONS
//
// Here are all the variable definitions to use throughout our SCSS
// ==============================================================




// ==============================================================
//
// # COLORS
//
// ==============================================================
$color-primary:                 #222    !default;
$color-accent:                  #f76708 !default;
$color-accent-lighter:          mix(white, $color-accent, 30%) !default;

$color-black:                   #000    !default;
$color-black-alt:               #222    !default;

$color-gray-light:              #ddd    !default;
$color-gray-AAlarge:            #949494 !default;
$color-gray-AAA:                #595959 !default;
