/**
 * @name _list
 * @see [UIkit]{@link https://getuikit.com/docs/list}
 */

ul {
    list-style: none;
    padding: 0;

    & > li {
        padding-left: calc(1.5em + 10px);
        position: relative;
    }

    & > li:before,
    & > li:after {
        content: '';
        display: table;
    }

    & > li:before {
        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%226%22%20height%3D%226%22%20viewBox%3D%220%200%206%206%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23666%22%20cx%3D%223%22%20cy%3D%223%22%20r%3D%223%22%20%2F%3E%0A%3C%2Fsvg%3E');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 1.5em;
        left: 0;
        position: absolute;
        top: 0;
        width: 1.5em;
    }

    & > li:after {
        clear: both;
    }

    & > li > :last-child {
        margin-bottom: 0;
    }

    & ul {
        list-style: none;
        margin: 0;
        padding-left: 30px;
    }

    & > li:nth-child(n + 2),
    & > li > ul {
        margin-top: 10px;
    }
}
