.nav {
    display: flex;
    font-family: $font-sans;
    margin: 0;
    padding: 0;
    list-style-type: none;

    & > li,
    & > li:nth-child(n + 2) {
        margin: 0;
        padding: 0;
    }

    & > li:before,
    & > li:after {
        content: none;
    }

    a {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        font-size: 0.725rem;
        justify-content: center;
        padding: 0 1.365em;
        text-decoration: none;
    }
}

.navbar {
    background: #0076d6;
    display: flex;
    font-family: $font-sans;
    position: relative;

    &-nav li:before,
    &-nav li:after {
        content: none;
    }

    &-nav > li {
        padding: 0;
    }

    &-nav > li:nth-child(n + 2),
    &-nav > li > ul {
        margin: 0;
    }

    &-left {
        width: 100%;
        text-align: center;

        @media (min-width: 640px) {
            width: auto;
            text-align: left;
        }
    }

    &-right {
        flex-wrap: wrap;
        margin-left: auto;
    }

    a.author {
        font-size: 1em;
        font-weight: 700;
        letter-spacing: 0.075px;
    }

    a {
        color: #fff;
        height: 44px;
        opacity: 0.675;

        &:hover,
        &:focus {
            color: #fff;
            opacity: 1;
        }
    }
}
