table:not(.js-file-line-container) {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
    font-size: 0.875em;
    line-height: 1.04;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif;

    & + table {
        margin-top: 20px;
    }

    th {
        padding: 16px 12px;
        text-align: left;
        vertical-align: bottom;
        font-size: 12px;
        font-weight: normal;
        color: #999;
        text-transform: uppercase;
    }

    td {
        padding: 16px 12px;
        vertical-align: top;
    }

    td > :last-child {
        margin-bottom: 0;
    }

    tfoot {
        font-size: 14px;
    }

    & > tr:not(:first-child),
    & > :not(:first-child) > tr,
    & > :first-child > tr:not(:first-child) {
        border-top: 1px solid #e5e5e5;
    }

    @media (max-width: 959px) {
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        thead {
            display: none;
        }

        th,
        td {
            width: auto;
            max-width: none;
            min-width: 0;
            overflow: visible;
            white-space: normal;
        }

        td:not(:first-child) {
            padding-top: 5px;
        }

        td:not(:last-child) {
            padding-bottom: 5px;
        }

        th,
        td {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
