
.toc {
    display: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    height: 100%;
    left: auto;
    line-height: 1.5;
    position: fixed;
    margin: 84px 0;
    right: 0;
    top: 0;
    transition: margin 900ms cubic-bezier(.25,.8,.25,1);;

    &.scrolled {
        margin: 24px 0;
    }

    ul {
        list-style: none;
    }

    ul ul {
        padding-left: 0;
    }

    ul ul ul {
        padding-left: 20px;
    }

    ul > li {
        padding-left: 0;
    }

    
    ul > li:nth-child(n+2),
    ul > li > ul {
        margin-top: 4px
    }
    
    li {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    li:before {
        background: none;
    }
    
    a {
        color: initial;
        display: block;
        text-decoration: none;

        &:hover, &:focus {
            opacity: 0.65;
        }
    }

    .uk-active > a {
        border-left: 2px solid #0076D6;
        color: #0076D6;
        padding-left: 10px;
    }

    @media (min-width: 768px) {
        display: block;
        width: 18vw;
    }

    @media (min-width: 960px) {
        width: 24.725vw;
    }
}
