{{ $Person := .Params.person }}
{{ $imgSrc := .File.TranslationBaseName }}
{{ $imgAlt := replace .File.TranslationBaseName "." " " }}
{{ $Date := .PublishDate.Format "2006-01-02" }}
{{ $DateFormat := .PublishDate.Format "January 2, 2006" }}
{{ $href := $Person.linkedin }}

<article
    class="entry"
    data-employer="{{ $Person.workedAt }}"
    {{ if (.Params.link) }}itemid="{{ .Params.link }}"{{ end }}
    itemscope
    itemtype="http://schema.org/SocialMediaPosting"
>
    {{ if (.Content) }}
    <div class="entry-quote">
        <blockquote
            itemprop="headline"
            cite="{{ $Person.linkedin }}"
        >
            {{ .Content }}
        </blockquote>
    </div>
    {{ end }}

    <header class="entry-header">
        <div
            class="entry-person"
            itemprop="author"
            itemscope
            itemtype="http://schema.org/Person"
        >
            <img
                class="entry-person-logo"
                src="{{ .Site.BaseURL }}references/{{ $imgSrc }}.jpg"
                contentUrl="{{ .Site.BaseURL }}references/{{ $imgSrc }}.jpg"
                alt="{{ $imgAlt }}"
                itemprop="image"
            />
            <div class="entry-person-info">
                <h1 class="entry-person-name">
                    {{ if ($href) }}
                    <a
                        href="{{ $href }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        itemprop="url"
                    >
                    {{ end }}
                        {{ if and ($Person.givenName) ($Person.familyName) }}
                        <span itemprop="givenName">
                            {{- $Person.givenName -}}
                        </span>
                        <span itemprop="familyName">
                            {{- $Person.familyName -}}
                        </span>
                        {{ else }}
                        <span itemprop="name">{{ $imgAlt }}</span>
                        {{ end }}
                        {{ if ($Person.suffix) }}
                        <span class="comma">, </span>
                        <span itemprop="honorificSuffix">
                            {{- $Person.suffix -}}
                        </span>
                        {{ end }}
                    {{ if ($href) }}
                    </a>
                    {{ end }}
                </h1>
                <p class="entry-person-position">
                    <span itemprop="jobTitle">{{ $Person.position }}</span>
                </p>
            </div>
            {{ if ($href) }}
            <link itemprop="sameAs" href="{{ $Person.linkedin }}" />
            {{ end }}
        </div>
        <div class="entry-person-details">
            {{ if (.PublishDate) }}
            <p>
                <time itemprop="datePublished" content="{{ $Date }}">
                    {{- $DateFormat -}}
                </time>
            </p>
            {{ end }}

            {{ if ($Person.relation) }}
            <p>
                <span itemprop="disambiguatingDescription">
                    {{- $Person.relation -}}
                </span>
                {{ if ($Person.workedAt) }}
                <span class="comma">— </span>
                <span class="workedAt">
                    {{- $Person.workedAt -}}
                </span>
                {{ end }}
            </p>
            {{ end }}
        </div>
    </header>

    <!-- <hr /> -->

    <!-- <footer class="entry-footer">
        <p class="entry-details">
            <span itemprop="name">
                <strong>{{ .Params.name }}</strong>
                <link itemprop="sameAs" href="{{ .Params.projecturl }}" />
            </span>
            <span itemprop="keywords">{{ delimit .Keywords ", " }}</span>
        </p>
    </footer> -->
</article>
