{{ partial "header" . }}

<article class="uk-margin-large-bottom pansky-project">
  <header class="uk-container uk-section uk-section-small">
    <h1 class="uk-article-title uk-text-bold">goodwilldallas.org</h1>
  </header>
  <section id="introduction" class="uk-container uk-section uk-section-small">
    <h2>Introduction</h2>
    <hr class="uk-divider-small" />
    <p class="uk-text-lead">
      For over 90 years Goodwill Dallas has been committed to providing job training and employment to  those with disabilities and disadvantaging conditions.</em>
    </p>
    <p class="uk-text-center">
      <img src="{{ .Site.BaseURL }}img/projects/good-website/good-dallas-logo.png" width="200px" alt="Goodwill Dallas logo">
    </p>
    <p>
      As part of the creative department of Miller Ad Agency, we collaborated and worked to bring Goodwill Dallas the new life it came looking for.
    </p>
  </section>
  <section id="objective" class="uk-container uk-section uk-section-small">
    <h2>Objective</h2>
    <hr class="uk-divider-small" />
    <p>
      Establish and implement a new identity for Goodwill Dallas; a fresh look to update their brand and bring the Dallas branch, with it’s 15+ store locations, up to the modern age.
    </p>
  </section>
  <!-- <section id="projectDetails" class="uk-container uk-section uk-section-small">
    {{ partial "projects/good-lunch/section-projectDetails" . }}
  </section> -->
  <section id="development" class="uk-container uk-section uk-section-small">
    <h2>Development</h2>
    <hr class="uk-divider-small" />
    <p>
      Goodwill Dallas prides itself on the success of its clients, the disadvantaged individuals that find new life from Goodwill’s humanitarian efforts. To emphasize this, we hired a top-tier local professional photographer to capture Goodwill Dallas in its everyday life. These photos, after minor post-processing, produced extremely powerful images to feature throughout this new identity package; brochures, deliverables, on the website, etc. These pictures really sold the emotional impact that Goodwill Dallas strives for when helping those in need.
    </p>
    <p>
      Next, we tackled their logo. Due to national corporate regulations, there was only so much we could do. Can’t do this and can’t do that; our creativity here was severely limited. However, sometimes the more barriers around a project - the more ingenuity must be conjured. The end product for the logo was clean, minimal, and excellent.
    </p>
    <p>
      We created a style guide, business cards, folding brochures, a complete website overhaul, and much more. It was a pleasure to work with Goodwill Industries of Dallas and we continue to cooperate in joint endeavors to this day.
    </p>
  </section>
  <section id="screens-styles" class="uk-container uk-section uk-section-xsmall">
    <img src="{{ .Site.BaseURL }}img/projects/good-website/good-website-new-styles-01.jpg" alt="Goodwill Dallas' new styleguide" class="uk-box-shadow-medium uk-margin-small-bottom pansky-border-muted">
  </section>
  <section id="myRole" class="uk-container uk-section uk-section-xsmall">
    <h2>My role</h2>
    <p>
      My part revolved around the website. Everything from structure to wireframing to conceptual mockups to production assets to HTML and vanilla CSS (not discovering Sass until well after this project’s completion).
    </p>
  </section>
  <section id="screens-old" class="uk-container uk-section uk-section-xsmall">
    <!-- <a href="#screen-good-website-old" uk-toggle> -->
      <img src="{{ .Site.BaseURL }}img/projects/good-website/good-website-old.jpg" alt="Goodwill Dallas' old website" class="uk-box-shadow-medium uk-margin-small-bottom">
    <!-- </a> -->
    <span class="uk-text-meta uk-text-center uk-flex uk-flex-center">Screenshot of the original goodwilldallas.org; 2010.</span>
  </section>
  <section id="screens-new" class="uk-section uk-section-xsmall uk-margin-medium-bottom" style="max-width:80%; margin:0 auto;">
    <img src="{{ .Site.BaseURL }}img/projects/good-website/good-website-new-01.jpg" alt="Goodwill Dallas' new website" class="uk-box-shadow-medium uk-margin-small-bottom uk-width-1-1 pansky-border-muted">
    <span class="uk-text-meta uk-text-center uk-flex uk-flex-center uk-margin-medium-bottom">Homepage screenshot of the new goodwilldallas.org; 2015.</span>
    <br />
    <ul uk-accordion="multiple: true; animation: false">
      <li>
        <h5 class="uk-accordion-title pansky-project-readmore">
          <span uk-icon="icon: image" class="uk-margin-small-right"></span> View of the new 'Give' page.
        </h5>
        <div class="uk-accordion-content uk-animation-slide-bottom-small pansky-project-readmore-content">
          <img src="{{ .Site.BaseURL }}img/projects/good-website/good-website-new-02.jpg" alt="Goodwill Dallas' new website" class="uk-box-shadow-medium uk-margin-small-bottom uk-width-1-1 pansky-border-muted">
          <span class="uk-text-meta uk-text-center uk-flex uk-flex-center">Screenshot of the new goodwilldallas.org 'Give' page; 2015.</span>
        </div>
      </li>
      <li>
        <h5 class="uk-accordion-title pansky-project-readmore">
          <span uk-icon="icon: image" class="uk-margin-small-right"></span> View of the new 'The Journey' page.
        </h5>
        <div class="uk-accordion-content uk-animation-slide-bottom-small pansky-project-readmore-content">
          <img src="{{ .Site.BaseURL }}img/projects/good-website/good-website-new-03.jpg" alt="Goodwill Dallas' new website" class="uk-box-shadow-medium uk-margin-small-bottom uk-width-1-1 pansky-border-muted">
          <span class="uk-text-meta uk-text-center uk-flex uk-flex-center">Screenshot of the new goodwilldallas.org 'Info > The Journey' page; 2015.</span>
        </div>
      </li>
    </ul>
  </section>
  <section id="oldSite" class="uk-container uk-section uk-section-xsmall">
    <h2>Wayback</h2>
    <p>
      If you're interested in browsing around the pre-redesign version of the website, you can head on over to the <a href="https://web.archive.org/web/20140110155931/http://goodwilldallas.org/" target="_blank" class="pansky-link-external" title="Opens new tab" uk-tooltip>Wayback Machine</a>.
    </p>
  </section>
</article>

<!-- <div id="screen-good-website-old" uk-modal="center: true">
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-body">
      <h2 class="uk-modal-title">Original goodwilldallas.org</h2>
      <img src="{{ .Site.BaseURL }}img/projects/good-website/good-website-old.jpg" alt="Goodwill Dallas' old website" class="uk-box-shadow-medium uk-margin-small-bottom">
    </div>
    <div class="uk-modal-caption">
      <span class="uk-text-meta">Screenshot of the original goodwilldallas.org; 2010.</span>
    </div>
  </div>
</div> -->

{{ partial "footer" . }}
