// main: ../main.scss

#pageHero {
  margin-bottom: 0;
}

.pageHero {
  display: flex;
  padding: 0;
  margin: 0;
  height: 175px;
  width: 100%;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  overflow-y: hidden;
  background-color: $primary;
  justify-content: center;

  img {
    height: 100%;
    width: auto;
  }

  .jumbotron {
    padding: 0;
    margin: 0 auto;
  }

  .jumbotron-fluid {
    background: none;
  }
  //
  // img {
  //   position: relative;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   align-items: center;
  //   overflow: hidden;
  //   align-items: center;
  // }
}

@media (min-width: 576px) { // @media min-576
	.pageHero {
    // max-height: 35vh;
    height: 220px;
	}
}

@media (min-width: 768px) { // @media min-768
	.pageHero {
    // max-height: 40vh;
    height: 275px;
	}
}

@media (min-width: 992px) { // @media min-992
	.pageHero {
    // max-height: 55vh;
    height: 300px;
	}
}

@media (min-width: 1200px) { // @media min-1200
	.pageHero {
    // max-height: 65vh;
    height: 400px;
	}
}

@media (min-width: 2000px) { // @media min-2000
	.pageHero {
    // max-height: 80vh;
    height: 600px;
	}
}
