{{ partial "header" . }}

{{ partial "offcanvas" . }}

<section class="uk-container uk-margin-medium-top uk-margin-large-bottom uk-section uk-section-small">
  <h1 class="uk-article-title uk-text-bold">William Pansky</h1>
  <p class="uk-text-lead">Front-end web developer and graphic designer with a desire to solve complex website interface problems through creative and UX-minded solutions.</p>
  <h3 class="uk-text-bold"><a href="/resume">Resume</a></h3>
</section>

{{ partial "projects" . }}

{{ partial "projects-codepens" . }}

{{ partial "footer-home" . }}
