{{ partial "header" . }}

<main id="panel" class="panel">

  <section class="container-fluid" id="me">

    {{ partial "topBar" . }}

    <!-- info -->
    <div class="row" id="info">
      <div class="col">
        <img src="{{ .Site.BaseURL }}images/pansky.jpg" alt="" class="uk-border-circle" />
        <span>Based in Dallas, TX</span>
      </div>
      <div class="col">
        <img src="{{ .Site.BaseURL }}images/Thehoth-Seo-Seo-web-code.ico" alt="" class="uk-border-circle" />
        <span>Front-end Developer</span>
      </div>
    </div>

    <!-- contact -->
    <div class="row" id="buttons" data-slideout-ignore>
      <div class="col">
        <a href="">
          <span class="uk-icon-button" uk-icon="icon: phone" id="buttons-phone"></span>
        </a>
      </div>
      <div class="col">
        <a href="">
          <span class="uk-icon-button" uk-icon="icon: mail" id="buttons-mail"></span>
        </a>
      </div>
      <div class="col">
        <a href="">
          <span class="uk-icon-button" uk-icon="icon: github" id="buttons-github"></span>
        </a>
      </div>
      <div class="col">
        <a href="">
          <span class="uk-icon-button" uk-icon="icon: linkedin" id="buttons-linkedin"></span>
        </a>
      </div>
    </div>

    <!-- portfolio -->
    <ul class="row" id="text" data-slideout-ignore>

      {{ range (where .Data.Pages.ByPublishDate "Section" "portfolio") }}

      <li class="col-12 item">
        <div class="row">
          <div class="col-4">
            <!-- <a href="{{ .Permalink }}" title="{{ .Params.title }}"> -->
                <img src="{{ .Params.featured }}" alt="{{ .Params.alt }}" />
            <!-- </a> -->
          </div>
          <div class="col-8">
            <div class="row no">
              <div class="col-12">
                <span>{{ .Title }}</span>
              </div>
            </div>
            <div class="row no">
              {{ if (isset .Params "client") and (isset .Params "category") }}
              <div class="col client">
                <p class="client">{{ .Params.client }}</p>
              </div>
              <div class="col">
                <p class="category">#{{ .Params.category }}</p>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </li>

      {{ end }}

    </ul>

  </section>

  <!-- bottomNav -->
  <section class="container-fluid" id="bottomNav">
    <ul class="row nobtm uk-nav uk-nav-default uk-switcher" uk-switcher>
      <li class="col uk-active">
        <a href="#">
          <span uk-icon="icon: home"></span>
          <span>Home</span>
        </a>
      </li>
      <li class="col">
        <a href="#">
          <span uk-icon="icon: code"></span>
          <span>Work</span>
        </a>
      </li>
      <li class="col">
        <a href="#">
          <span uk-icon="icon: info"></span>
          <span>Resume</span>
        </a>
      </li>
      <li class="col">
        <a href="#">
          <span uk-icon="icon: settings"></span>
          <span>Settings</span>
        </a>
      </li>
    </ul>
  </section>

</main>

{{ partial "ender" . }}
