// main: ../main.scss

// Primary
$white: #ffffff;
$white-off: #fdfdfd;

$black: #000000;
$black-light: #303030;

$gray-light: #ededed;
$gray-dark: #505050;

// Accent
$accent: #f76708;

// WCAG 2.0 AAA Compliant on background: #fff;
$wcag-lightest-black: #565656;
$wcag-orange: #7f3504;
