<section id="resumeExp" class="wep-resume-exp uk-background-muted uk-section-small">
  <div class="uk-grid-collapse uk-child-width-1-4@m" uk-grid>
  <!-- <div class="uk-card uk-card-body uk-flex uk-flex-middle">
    <h3 class="uk-heading-line">
      <span>Experience</span>
    </h3>
  </div> -->

  <div class="uk-card uk-card-body">
    <h4 class="wep-resume-exp-title">
      Front-end Web Developer
    </h4>
    <p class="wep-resume-exp-company">
      Sabre Corporation
    </p>
    <p class="wep-resume-exp-date">
      AUG 2017–Present
    </p>
    <p class="wep-resume-exp-geo">
      Dallas, TX
    </p>
  </div>

  <div class="uk-card uk-card-body">
    <h4 class="wep-resume-exp-title">
      Graphic Designer <br />&amp; Front-end Web Developer
    </h4>
    <p class="wep-resume-exp-company">
      Miller Ad Agency
    </p>
    <p class="wep-resume-exp-date">
      JUN 2014–JUL 2017 (3yr, 2mo)
    </p>
    <p class="wep-resume-exp-geo">
      Dallas, TX
    </p>
  </div>

  <div class="uk-card uk-card-body">
    <h4 class="wep-resume-exp-title">
      Graphic Designer
    </h4>
    <p class="wep-resume-exp-company">
      ONE World Sports
    </p>
    <p class="wep-resume-exp-date">
      OCT 2010–MAR 2014 (3yr, 6mo)
    </p>
    <p class="wep-resume-exp-geo">
      Ft. Worth, TX
    </p>
  </div>

  <div class="uk-card uk-card-body">
    <h4 class="wep-resume-exp-title">
      Founder, Writer, Editor, Podcast Host
    </h4>
    <p class="wep-resume-exp-company">
      The Nerdemic
    </p>
    <p class="wep-resume-exp-date">
      NOV 2009–NOV 2011 (2yr)
    </p>
    <p class="wep-resume-exp-geo">
      Local &amp; Remote
    </p>
  </div>

  {{/* <div class="uk-card uk-card-body">
    <h4 class="wep-resume-exp-title">
      Graphic Designer
    </h4>
    <p class="wep-resume-exp-company">
      Blue Moose Tees
    </p>
    <p class="wep-resume-exp-date">
      OCT 2009–JUN 2010 (9mo)
    </p>
    <p class="wep-resume-exp-geo">
      Arlington, TX
    </p>
  </div> */}}

  {{/* <div class="uk-card uk-card-body uk-flex uk-flex-middle">
    <a class="wep-button-icon uk-button uk-button-secondary" href="/resume" title="View William's resume">
      View resume <span uk-icon="triangle-right"></span>
    </a>
  </div> */}}
  </div>
</section>
