<section id="resumeExp" class="wep-resume-exp uk-background-secondary uk-light uk-margin-large">
  <div class="uk-grid-collapse uk-child-width-1-4@m" uk-grid>

    {{ range first 4 (where .Data.Pages.ByWeight "Section" "resume") }}

      <section class="uk-card uk-card-body">
        <div>
          <h4 class="wep-resume-exp-title">{{ .Params.jobtitle }}</h4>
          <meta itemprop="jobTitle" content="{{ .Params.jobtitle }}"/>
        </div>
        <div itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
          <p class="wep-resume-exp-company" itemprop="name">
            {{ .Params.compname }}
            <meta itemprop="url" content="{{ .Params.compurl1 }}"/>
          </p>
          <p class="wep-resume-exp-date uk-text-uppercase" itemprop="event" itemscope itemtype="http://schema.org/Event">
            <time itemprop="startDate" content="{{ .Params.startdate }}">{{ .Params.startdate }}</time>–<time itemprop="endDate" content="{{ .Params.enddate }}">{{ .Params.enddate }}</time>
            {{ if isset .Params "dateabbr" }}
              <span class="uk-text-lowercase">({{ .Params.dateabbr }})</span>
            {{ end }}
          </p>
          <div class="wep-resume-exp-geo">
            <span itemprop="addressLocality">{{ .Params.addcity }}</span>, <span itemprop="addressRegion">{{ .Params.addstate }}</span>
            <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" style="display:none;">
              <meta itemprop="streetAddress" content="{{ .Params.addstreet }}" />
              <meta itemprop="addressLocality" content="{{ .Params.addcity }}" />
              <meta itemprop="addressRegion" content="{{ .Params.addstate }}" />
              <meta itemprop="postalCode" content="{{ .Params.addzip }}" />
              <meta itemprop="addressCountry" content="{{ .Params.addcountry }}" />
            </address>
          </div>
        </div>
      </section>

    {{ end }}

  </div>
</section>
