// ========================================================================
// ABSTRACTS => DEFINITIONS => COLORS
// ========================================================================


// COLOR DEFINITION VARIABLES
// ========================================================================
// Define your colors here
$color-primary:                 $ScienceBlue !default;
$color-secondary:               $EasternBlue !default;
$color-accent:                  $Tacha !default;
$color-black:                   $Black !default;
$color-white:                   $White !default;
$color-gray:                    $Boulder !default;

$color-lighten-amount:          15%;
$color-darken-amount:           20%;
$color-trans-amount:            0.5;


// SASS COLOR MAP(s)
// ========================================================================
$colors: (
    primary: (
        base: $color-primary,
        light: mix(white, $color-primary, $color-lighten-amount),
        dark: mix(black, $color-primary, $color-darken-amount),
        trans: transparentize($color-primary, $color-trans-amount)
    ),
    secondary: (
        base: $color-secondary,
        light: mix(white, $color-secondary, $color-lighten-amount),
        dark: mix(black, $color-secondary, $color-darken-amount),
        trans: transparentize($color-secondary, $color-trans-amount)
    ),
    accent: (
        base: $color-accent,
        light: mix(white, $color-accent, $color-lighten-amount),
        dark: mix(black, $color-accent, $color-darken-amount),
        trans: transparentize($color-accent, $color-trans-amount)
    ),
    black: (
        base: $color-black,
        light: mix(white, $color-black, $color-lighten-amount),
        trans: transparentize($color-black, $color-trans-amount)
    ),
    white: (
        base: $color-white,
        dark: mix(black, $color-white, $color-darken-amount),
        trans: transparentize($color-white, $color-trans-amount)
    ),
    gray: (
        base: $color-gray,
        light: mix(white, $color-gray, $color-lighten-amount),
        dark: mix(black, $color-gray, $color-darken-amount),
        trans: transparentize($color-gray, $color-trans-amount)
    )
);


// COLOR-MAP NAMING & CALL FUNCTION
// ========================================================================
// Retrieve color from $colors map; e.g. `color(base, primary)`
@function color($color-name, $color-variant: null) {
    @warn map-get($colors, $color-name);

    // color variant is optional
    @if ($color-variant != null) {
        @return map-get(map-get($colors, $color-name), $color-variant);
    } @else {
        @return map-get($colors, $color-name);
    }
}
