{{ partial "header" . }}

<span id="readingProgress"></span>

<nav id="mainNav" class="uk-navbar-container uk-navbar-transparent" uk-navbar>
  <div class="uk-navbar-left">
    <h2 class="uk-navbar-item"><a href="/" class="uk-navbar-item uk-logo">William Pansky</a></h2>
  </div>
  <div class="uk-navbar-right uk-visible@s">
    <ul class="uk-navbar-nav">
      {{ partial "nav" }}
    </ul>
  </div>
</nav>

<article class="wep-article uk-article uk-section-small">

  <header class="wep-container uk-container">
    <h1>{{ .Title }}</h1>
  </header>

  {{ if isset .Params "image" }}
    <section class="hero uk-section-small uk-padding-remove-bottom">
      <div class="wep-container uk-container">
        <figure class="caption caption-uk-box-shadow-medium">
          <img src="{{ .Params.image }}" alt="{{ .Params.client }}">
            <figcaption>
              <h4>{{ .Params.category }} for {{ .Params.client }}</h4>
            </figcaption>
        </figure>
      </div>
    </section>
  {{ end }}

  <section class="content uk-section-small">
    <div class="wep-container uk-container">
      {{ .Content }}
    </div>
  </section>

  {{ if isset .Params "footer" }}
    <footer class="uk-section-small">
      <div class="wep-container uk-container">
        {{ .Params.footer }}
      </div>
    </footer>
  {{ end }}

</article>

{{ partial "footer" . }}
