<div class="pansky-code pansky-code-fullwidth">
  <pre><code class="lang-html hljs">

    &lt;main id="pageContent" class="et-main" style="opacity:0;"&gt;
      &lt;section class="et-slide" id="mainEventInformation"&gt;
        &lt;div class="container"&gt;
          &lt;div class="row"&gt;
            &lt;div class="col"&gt;
            &lt;/div&gt;
            &lt;div class="w-100"&gt;&lt;/div&gt;
            &lt;div class="col-12 col-md-4"&gt;
              &lt;img src="&#123;&#123; .Site.BaseURL&#125;&#125; images/TheLunch-OfficialLogo.jpg" class="img-fluid" alt="Goodwill Industries of Dallas THE LUNCH Logo" style="margin-bottom:1rem;"&gt;
            &lt;/div&gt;
            &lt;div class="col-12 col-md-8"&gt;
              &lt;h2&gt;Event Information&lt;/h2&gt;
              &lt;p&gt;
                Goodwill Industries of Dallas, Inc.’s largest annual fundraising event, THE LUNCH, targets Dallas’ top chief executives and influential community leaders.
              &lt;/p&gt;
              &lt;p&gt;
                 100% of THE LUNCH proceeds benefit Goodwill’s job training and placement programs to change lives through the power of jobs!
               &lt;/p&gt;
              &lt;p&gt;
                With your support of THE LUNCH, more people in our community are given a starting point, a pathway, an opportunity!
             &lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="w-100" style="margin-bottom:3rem;"&gt;&lt;/div&gt;
            &lt;div class="col-12"&gt;
              &lt;div class="row"&gt;
                &lt;div class="col-12" style="margin: 2rem auto 4rem;"&gt;
                  &lt;div class="row"&gt;
                    &lt;div class="col-12"&gt;
                      &lt;h4 class="text-center chew"&gt;Chew on This&lt;/h4&gt;
                    &lt;/div&gt;
                    &lt;div class="col-12 col-md-3"&gt;
                      &lt;ul class="chewThis"&gt;&lt;li&gt;
                        &lt;span&gt;6,836&lt;/span&gt;&lt;br /&gt;
                        Mission services provided
                      &lt;/li&gt;&lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class="col-12 col-md-3"&gt;
                      &lt;ul class="chewThis"&gt;&lt;li&gt;
                        &lt;span&gt;3,295&lt;/span&gt;&lt;br /&gt;
                        People served through employment &amp; training programs
                      &lt;/li&gt;&lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class="col-12 col-md-3"&gt;
                      &lt;ul class="chewThis"&gt;&lt;li&gt;
                        &lt;span&gt;&lt;sup&gt;$&lt;/sup&gt;19.2&lt;sub&gt;&nbsp;million&lt;/sub&gt;&lt;/span&gt;&lt;br /&gt;
                        Estimated total earnings of people who earned a job with Goodwill’s help
                      &lt;/li&gt;&lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class="col-12 col-md-3"&gt;
                      &lt;ul class="chewThis"&gt;&lt;li&gt;
                        &lt;span&gt;1,433&lt;/span&gt;&lt;br /&gt;
                        People who earned a job with Goodwill’s help
                      &lt;/li&gt;&lt;/ul&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="w-100"&gt;&lt;/div&gt;
            &lt;div class="col-12"&gt;
              &lt;p&gt;
                For information about next year’s event and how to sponsor, contact Ashleigh Hughes by phone at &lt;a href="tel:2146382800,240"&gt;214-638-2800, x240&lt;/a&gt; or by email at &lt;a href="mailto:ahughes@goodwilldallas.org?subject=THE+LUNCH+2017"&gt;ahughes@goodwilldallas.org&lt;/a&gt;.
              &lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/section&gt;
      &lt;section class="et-slide" id="mainFeaturedGuest" style="display: block;"&gt;
        &lt;div class="container" style="margin-bottom:1.5rem;" itemprop="performer" itemscope itemtype="http://schema.org/Person"&gt;
          &lt;div class="row"&gt;
            &lt;div class="col"&gt;
              &lt;h2&gt;Special Guests&lt;/h2&gt;
            &lt;/div&gt;
            &lt;div class="w-100"&gt;&lt;/div&gt;
            &lt;div class="col"&gt;
              &lt;div class="row" id="mainGuest1" style="align-items: center;"&gt;
                &lt;div class="col-md-5"&gt;
                  &lt;img src="/images/General-Stanly-McChrystal.jpg" alt="" class="img-fluid"&gt;
                &lt;/div&gt;
                &lt;div class="col" style="margin-bottom: 2rem;"&gt;
                  &lt;h4 itemprop="name"&gt;General Stanley McChrystal, USA &lt;small&gt;(Ret.)&lt;/small&gt;&lt;/h4&gt;
                  &lt;h6&gt;&lt;em&gt;Former Commander of U.S. and International Forces in Afghanistan, Former Chief of Staff of Military Operations in Afghanistan, Former leader of Joint Special Operations Command.&lt;/em&gt;&lt;/h6&gt;
                  &lt;p&gt;
                    A one-of-a-kind commander with a remarkable record of achievement, General Stanley McChrystal is widely praised for creating a revolution in warfare that fused intelligence and operations.
                  &lt;/p&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;hr /&gt;
        &lt;/div&gt;
        &lt;div class="container" id="mainGuest2" itemprop="performer" itemscope itemtype="http://schema.org/Person"&gt;
          &lt;div class="row"&gt;
            &lt;div class="col-md-4"&gt;
              &lt;img src="/images/Frances-Townsend.jpg" alt="" class="img-fluid"/&gt;
            &lt;/div&gt;
            &lt;div class="col"&gt;
              &lt;h5 itemprop="name"&gt;Frances Townsend&lt;/h5&gt;
              &lt;h6&gt;&lt;em&gt;Former Homeland Security Advisor to President George W. Bush.&lt;/em&gt;&lt;/h6&gt;
              &lt;p&gt;
                From 2004 to 2008, Frances Townsend served as Assistant to President George W. Bush for Homeland Security and Counterterrorism and Chaired the Homeland Security Council.
              &lt;/p&gt;
            &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/section&gt;
      &lt;section class="et-slide" id="mainSponsorOpp"&gt;
        &lt;div class="container"&gt;
          &lt;div class="row"&gt;
            &lt;div class="col"&gt;
              &lt;h2&gt;Sponsorship Opportunities&lt;/h2&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="container" style="width:100%"&gt;
          &lt;div class="row"&gt;
            &lt;!-- Presenting Sponsor --&gt;
            &lt;div class="col-md-6 col-xl-2"&gt;
              &lt;div class="card"&gt;
                &lt;div class="card-img-top" id="sponPresenting" /&gt;
                  &lt;span&gt;Presenting Sponsor&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="card-block"&gt;
                  &lt;h4 class="card-title" itemprop="offers" itemscope itemtype="http://schema.org/Offer"&gt;
                    &lt;span itemprop="price"&gt;&lt;sup&gt;$&lt;/sup&gt;250,000&lt;/span&gt;
                  &lt;/h4&gt;
                  &lt;p class="card-text"&gt;Provides 44 adults with a disability 240 hours of paid, on-the-job training.&lt;/p&gt;
                &lt;/div&gt;
                &lt;ul class="list-group list-group-flush"&gt;
                  &lt;li class="list-group-item"&gt;Twenty invitations with highest priority seating&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Ten exclusive invitations to photo opportunity with guest speaker&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Prominent recognition in all press, event signage, and advertising&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Prominent logo placement on large screens during event&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Recognition on Goodwill Dallas website for one year&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;VIP parking for all guests&lt;/li&gt;
                &lt;/ul&gt;
                &lt;div class="card-block"&gt;
                  &lt;a href="#mainDonate" class="card-link"&gt;Sponsor&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- Premier Sponsor --&gt;
            &lt;div class="col-md-6 col-xl-2"&gt;
              &lt;div class="card"&gt;
                &lt;div class="card-img-top" id="sponPremier" /&gt;
                  &lt;span&gt;Premier Sponsor&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="card-block" id="premFix"&gt;
                  &lt;h4 class="card-title" itemprop="offers" itemscope itemtype="http://schema.org/Offer"&gt;
                    &lt;span itemprop="price"&gt;&lt;sup&gt;$&lt;/sup&gt;100,000&lt;/span&gt;
                  &lt;/h4&gt;
                  &lt;p class="card-text"&gt;Supports 16 adults with a disability 240 hours of paid, on-the-job training.&lt;/p&gt;
                &lt;/div&gt;
                &lt;ul class="list-group list-group-flush"&gt;
                  &lt;li class="list-group-item"&gt;Ten invitations with highest priority seating&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Six exclusive invitations to photo opportunity with guest speaker&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Prominent recognition in all press, event signage, and advertising&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Recognition on Goodwill Dallas website for one year&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;VIP parking for all guests&lt;/li&gt;
                &lt;/ul&gt;
                &lt;div class="card-block"&gt;
                  &lt;a href="#mainDonate" class="card-link"&gt;Sponsor&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- Legacy Sponsor --&gt;
            &lt;div class="col-md-6 col-xl-2"&gt;
              &lt;div class="card"&gt;
                &lt;div class="card-img-top" id="sponLegacy" /&gt;
                  &lt;span&gt;Legacy Sponsor&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="card-block" id="legFix"&gt;
                  &lt;h4 class="card-title" itemprop="offers" itemscope itemtype="http://schema.org/Offer"&gt;
                    &lt;span itemprop="price"&gt;&lt;sup&gt;$&lt;/sup&gt;50,000&lt;/span&gt;
                  &lt;/h4&gt;
                  &lt;p class="card-text"&gt;Provides 7 adults with a disability 240 hours of paid, on-the-job training, and 5 individuals job placement and retention services.&lt;/p&gt;
                &lt;/div&gt;
                &lt;ul class="list-group list-group-flush"&gt;
                  &lt;li class="list-group-item"&gt;Ten invitations with highest priority seating&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Four exclusive invitations to photo opportunity with guest speaker&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Prominent recognition in all press, event signage, and advertising&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Recognition on Goodwill Dallas website for one year&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;VIP parking for all guests&lt;/li&gt;
                &lt;/ul&gt;
                &lt;div class="card-block"&gt;
                  &lt;a href="#mainDonate" class="card-link"&gt;Sponsor&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- &lt;div class="w-100"&gt;&lt;/div&gt; --&gt;
            &lt;!-- Champion Sponsor --&gt;
            &lt;div class="col-md-6 col-xl-2"&gt;
              &lt;div class="card"&gt;
                &lt;div class="card-img-top" id="sponChampion" /&gt;
                  &lt;span&gt;Champion Sponsor&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="card-block"&gt;
                  &lt;h4 class="card-title" itemprop="offers" itemscope itemtype="http://schema.org/Offer"&gt;
                    &lt;span itemprop="price"&gt;&lt;sup&gt;$&lt;/sup&gt;25,000&lt;/span&gt;
                  &lt;/h4&gt;
                  &lt;p class="card-text"&gt;Provides 2 adults with a disability 240 hours of paid, on-the-job training, and 8 individuals with job placement and retention services.&lt;/p&gt;
                &lt;/div&gt;
                &lt;ul class="list-group list-group-flush"&gt;
                  &lt;li class="list-group-item"&gt;Ten invitations with priority seating&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Two exclusive invitations to photo opportunity with guest speaker&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Branding visibility in event signage and advertising&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Recognition on Goodwill Dallas website&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Complimentary parking for all guests&lt;/li&gt;
                &lt;/ul&gt;
                &lt;div class="card-block"&gt;
                  &lt;a href="#mainDonate" class="card-link"&gt;Sponsor&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- Sustaining Sponsor --&gt;
            &lt;div class="col-md-6 col-xl-2"&gt;
              &lt;div class="card"&gt;
                &lt;div class="card-img-top" id="sponSustaining" /&gt;
                  &lt;span&gt;Sustaining Sponsor&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="card-block"&gt;
                  &lt;h4 class="card-title" itemprop="offers" itemscope itemtype="http://schema.org/Offer"&gt;
                    &lt;span itemprop="price"&gt;&lt;sup&gt;$&lt;/sup&gt;10,000&lt;/span&gt;
                  &lt;/h4&gt;
                  &lt;p class="card-text"&gt;Provides an adult with a disability with 240 hours of paid, on-the-job training, 2 individuals with transportation for one year, and 1 individual with Computer Training.&lt;/p&gt;
                &lt;/div&gt;
                &lt;ul class="list-group list-group-flush"&gt;
                  &lt;li class="list-group-item"&gt;Ten invitations with priority seating&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Branding visibility in event signage and advertising&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Recognition on Goodwill Dallas website&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Complimentary parking for all guests&lt;/li&gt;
                &lt;/ul&gt;
                &lt;div class="card-block"&gt;
                  &lt;a href="#mainDonate" class="card-link"&gt;Sponsor&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- Supporting Sponsor --&gt;
            &lt;div class="col-md-6 col-xl-2"&gt;
              &lt;div class="card"&gt;
                &lt;div class="card-img-top" id="sponSupporting" /&gt;
                  &lt;span&gt;Supporting Sponsor&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class="card-block" id="suppFix"&gt;
                  &lt;h4 class="card-title" itemprop="offers" itemscope itemtype="http://schema.org/Offer"&gt;
                    &lt;span itemprop="price"&gt;&lt;sup&gt;$&lt;/sup&gt;5,000&lt;/span&gt;
                  &lt;/h4&gt;
                  &lt;p class="card-text"&gt;Provides 2 individuals transportation for the year and Computer Applications Training.&lt;/p&gt;
                &lt;/div&gt;
                &lt;ul class="list-group list-group-flush"&gt;
                  &lt;li class="list-group-item"&gt;Ten invitations with priority seating&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Branding visibility in event signage and advertising&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Recognition on Goodwill Dallas website&lt;/li&gt;
                  &lt;li class="list-group-item"&gt;Complimentary parking for all guests&lt;/li&gt;
                &lt;/ul&gt;
                &lt;div class="card-block"&gt;
                  &lt;a href="#mainDonate" class="card-link"&gt;Sponsor&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="container" style="margin-bottom:1rem;"&gt;
          &lt;div class="row"&gt;
            &lt;div class="col"&gt;
              &lt;div class="card"&gt;
                &lt;div class="card-block" style="padding:2rem;"&gt;
                  &lt;h4 class="card-title" itemprop="offers" itemscope itemtype="http://schema.org/Offer"&gt;THE LUNCH Ticket&lt;/h4&gt;
                  &lt;h6 class="card-subtitle mb-2"&gt;&lt;sup&gt;$&lt;/sup&gt;500&lt;/h6&gt;
                  &lt;p class="card-text"&gt;Provides 8 at-risk youth with mentoring sessions.&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class="card-block"&gt;
                  &lt;a href="#mainDonate" class="card-link" style="border-radius: 0 .25rem .25rem 0;"&gt;Sponsor&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="container" id="donorNames" style="width:100%;"&gt;
          &lt;div class="row"&gt;
            &lt;!-- presenting --&gt;
            &lt;div class="col-md-6 col-xl-2"&gt;
              &lt;div id="accordion1" role="tablist" aria-multiselectable="true"&gt;
                &lt;div class="card text-center"&gt;
                  &lt;a data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="true" aria-controls="collapse1"&gt;
                    &lt;div class="card-header" role="tab" id="heading1"&gt;
                      &lt;h6 class="mb-0"&gt;
                        List of Presenting Sponsors
                      &lt;/h6&gt;
                    &lt;/div&gt;
                  &lt;/a&gt;
                  &lt;div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1"&gt;
                    &lt;div class="card-block" style="padding:0;align-items:center;"&gt;
                      &lt;ul class="sponsorNames committee"&gt;
                        &lt;li&gt;
                          &lt;div id="foundationType" class="ft-small"&gt;
                            &lt;p&gt;
                              The David B. Miller Family Foundation
                            &lt;/p&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- premier --&gt;
            &lt;div class="col-md-6 col-xl-2 noNames"&gt;
              &lt;div id="accordion2" role="tablist" aria-multiselectable="true"&gt;
                &lt;div class="card text-center"&gt;
                  &lt;a data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="true" aria-controls="collapse2"&gt;
                    &lt;div class="card-header" role="tab" id="heading2"&gt;
                      &lt;h6 class="mb-0"&gt;
                        List of Premier Sponsors
                      &lt;/h6&gt;
                    &lt;/div&gt;
                  &lt;/a&gt;
                  &lt;div id="collapse2" class="collapse show" role="tabpanel" aria-labelledby="heading2"&gt;
                    &lt;div class="card-block" style="padding:0;align-items:center;"&gt;
                      &lt;ul class="sponsorNames committee"&gt;
                        &lt;li&gt;Coming soon&lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- legacy --&gt;
            &lt;div class="col-md-6 col-xl-2"&gt;
              &lt;div id="accordion3" role="tablist" aria-multiselectable="true"&gt;
                &lt;div class="card text-center"&gt;
                  &lt;a data-toggle="collapse" data-parent="#accordion3" href="#collapse3" aria-expanded="true" aria-controls="collapse3"&gt;
                    &lt;div class="card-header" role="tab" id="heading3"&gt;
                      &lt;h6 class="mb-0"&gt;
                        List of Legacy Sponsors
                      &lt;/h6&gt;
                    &lt;/div&gt;
                  &lt;/a&gt;
                  &lt;div id="collapse3" class="collapse show" role="tabpanel" aria-labelledby="heading3"&gt;
                    &lt;div class="card-block" style="padding:0;align-items:center;"&gt;
                      &lt;ul class="sponsorNames committee"&gt;
                        &lt;li class="noLogo"&gt;Michele &amp; Jack M. Lafield&lt;/li&gt;
                        &lt;li class="noLogo"&gt;Belle &amp; Donald A. Berg&lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- champion --&gt;
            &lt;div class="col-md-6 col-xl-2"&gt;
              &lt;div id="accordion4" role="tablist" aria-multiselectable="true"&gt;
                &lt;div class="card text-center"&gt;
                  &lt;a data-toggle="collapse" data-parent="#accordion4" href="#collapse4" aria-expanded="true" aria-controls="collapse4"&gt;
                    &lt;div class="card-header" role="tab" id="heading4"&gt;
                      &lt;h6 class="mb-0"&gt;
                        List of Champion Sponsors
                      &lt;/h6&gt;
                    &lt;/div&gt;
                  &lt;/a&gt;
                  &lt;div id="collapse4" class="collapse show" role="tabpanel" aria-labelledby="heading4"&gt;
                    &lt;div class="card-block" style="padding:0;align-items:center;"&gt;
                      &lt;ul class="sponsorNames committee"&gt;
                        &lt;li&gt;&lt;img src="&#123;&#123; .Site.BaseURL &#125;&#125;images/logo-hoglund-foundation.png" alt="The Hoglund Foundation" /&gt;&lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- sustaining --&gt;
            &lt;div class="col-md-6 col-xl-2"&gt;
              &lt;div id="accordion5" role="tablist" aria-multiselectable="true"&gt;
                &lt;div class="card text-center"&gt;
                  &lt;a data-toggle="collapse" data-parent="#accordion5" href="#collapse5" aria-expanded="true" aria-controls="collapse5"&gt;
                    &lt;div class="card-header" role="tab" id="heading5"&gt;
                      &lt;h6 class="mb-0"&gt;
                        List of Sustaining Sponsors
                      &lt;/h6&gt;
                    &lt;/div&gt;
                  &lt;/a&gt;
                  &lt;div id="collapse5" class="collapse show" role="tabpanel" aria-labelledby="heading5"&gt;
                    &lt;div class="card-block" style="padding:0;align-items:center;"&gt;
                      &lt;ul class="sponsorNames committee"&gt;
                        &lt;li class="noLogo"&gt;Melinda &amp; John F. Dickerson&lt;/li&gt;
                        &lt;li class="noLogo"&gt;Turner Construction Company&lt;/li&gt;
                        &lt;li class="noLogo"&gt;Melinda &amp; John F. Dickerson&lt;/li&gt;
                        &lt;li class="noLogo"&gt;Patty &amp; James Huffines&lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- supporting --&gt;
            &lt;div class="col-md-6 col-xl-2 noNames"&gt;
              &lt;div id="accordion6" role="tablist" aria-multiselectable="true"&gt;
                &lt;div class="card text-center"&gt;
                  &lt;a data-toggle="collapse" data-parent="#accordion6" href="#collapse6" aria-expanded="true" aria-controls="collapse6"&gt;
                    &lt;div class="card-header" role="tab" id="heading6"&gt;
                      &lt;h6 class="mb-0"&gt;
                        List of Supporting Sponsors
                      &lt;/h6&gt;
                    &lt;/div&gt;
                  &lt;/a&gt;
                  &lt;div id="collapse6" class="collapse show" role="tabpanel" aria-labelledby="heading6"&gt;
                    &lt;div class="card-block" style="padding:0;align-items:center;"&gt;
                      &lt;ul class="sponsorNames committee"&gt;
                        &lt;li&gt;Coming soon&lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/section&gt;
      &lt;section class="et-slide" id="mainDonate"&gt;
        &lt;div class="container"&gt;
          &lt;div class="row"&gt;
            &lt;div class="col"&gt;
              &lt;h2&gt;Donate&lt;/h2&gt;
              &lt;p&gt;
                100% of THE LUNCH proceeds benefit individuals with disabilities and disadvantages, providing them with free job training and placement services.
              &lt;/p&gt;
              &lt;p&gt;
                With your support of THE LUNCH, more people in our community are given a starting point, a pathway, an opportunity!
              &lt;/p&gt;
              &gt;div id="bbox-root"&lt;&gt;/div&lt;
              &gt;script type="text/javascript"&lt;
                window.bboxInit = function () {
                   bbox.showForm('b3f4422e-4d5d-49fc-bdf2-d5a0caba03ae');
                };
                (function () {
                   var e = document.createElement('script'); e.async = true;
                   e.src = 'https://bbox.blackbaudhosting.com/webforms/bbox-min.js';
                   document.getElementsByTagName('head')[0].appendChild(e);
                } ());
              &gt;/script&lt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/section&gt;
      &lt;footer id="footer"&gt;
        &lt;div class="container"&gt;
          &lt;div class="row"&gt;
            &lt;div class="col"&gt;
              &lt;a href="https://goodwilldallas.org" target="_blank"&gt;
                &lt;img src="&#123;&#123; .Site.BaseURL &#125;&#125;images/goodlogo-invert.svg" alt="" /&gt;
              &lt;/a&gt;
              &lt;p&gt;
                For over 90 years Goodwill Dallas has been committed to providing job training and employment to those with disabilities and disadvantaging conditions.
              &lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="w-100" style="margin-bottom:2rem;"&gt;&lt;/div&gt;
            &lt;div class="col" style="font-size:.8rem;"&gt;
              Check out previous years:
              &lt;a href="https://www.goodwilldallas.org/TheLUNCH-2015" target="_blank"&gt;2015&lt;/a&gt; &amp;
              &lt;a href="https://www.goodwilldallas.org/TheLUNCH-2016" target="_blank"&gt;2016&lt;/a&gt;.
            &lt;/div&gt;
            &lt;div class="w-100"&gt;&lt;/div&gt;
            &lt;div class="col"&gt;
              &lt;p class="copyright"&gt;
                &copy; 1923&lt;script&gt;new Date().getFullYear()&gt;2010&&document.write("-"+new Date().getFullYear());&lt;/script&gt; &lt;a href="https://goodwilldallas.org" target="_blank"&gt;Goodwill Industries of Dallas, Inc.&lt;/a&gt;
                &lt;br /&gt;An American nonprofit 501(c)(3) organization.
              &lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/footer&gt;
      &lt;footer id="subFooter"&gt;
        &lt;div class="container"&gt;
          &lt;div class="row"&gt;
            &lt;div class="col-md-6 col-lg-4"&gt;
              &lt;a href="https://www.goodwilldallas.org/Privacy" target="_blank"&gt;
                Privacy Policy&nbsp;&lt;i class="fa fa-external-link" aria-hidden="true"&gt;&lt;/i&gt;
              &lt;/a&gt;
            &lt;/div&gt;
            &lt;div class="col-md-6 col-lg-4"&gt;
              &lt;a href="https://www.goodwilldallas.org/Terms" target="_blank"&gt;
                Terms of Use&nbsp;&lt;i class="fa fa-external-link" aria-hidden="true"&gt;&lt;/i&gt;
              &lt;/a&gt;
            &lt;/div&gt;
            &lt;div class="col-md-6 col-lg-4"&gt;
              &lt;a href="http://milleradagency.com" target="_blank"&gt;
                Powered by Miller Ad Agency&nbsp;&lt;i class="fa fa-external-link" aria-hidden="true"&gt;&lt;/i&gt;
              &lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/footer&gt;

      &lt;!-- Javascripts --&gt;
      &lt;!-- ~/themes/YEAR/layouts/partials/scripts.html --&gt;
      &lt;!-- jQuery --&gt;
      &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"&gt;&lt;/script&gt;

      &lt;!-- Tether --&gt;
      &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"&gt;&lt;/script&gt;

      &lt;!-- Bootstrap --&gt;
      &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"&gt;&lt;/script&gt;

      &lt;!-- SocialShare --&gt;
      &lt;script src="&#123;&#123; .Site.BaseURL &#125;&#125;javascript/SocialShare.js"&gt;&lt;/script&gt;

      &lt;!-- StickyNav --&gt;
      &lt;script src="&#123;&#123; .Site.BaseURL &#125;&#125;javascript/StickyNav.js"&gt;&lt;/script&gt;

      &lt;!-- Lunch 2017 --&gt;
      &lt;script src="&#123;&#123; .Site.BaseURL &#125;&#125;javascript/lunch2017.js"&gt;&lt;/script&gt;

      &lt;/main&gt;
    &lt;/body&gt;
  &lt;/html&gt;

  </code></pre>
</div>
