{{ partial "header" . }}

{{ partial "topNav" . }}

<main id="mainContent" class="panel">

  <article id="thisContent">

    <header class="container">
      <div class="row">
        <div class="col">
          <h1>{{ .Title }}</h1>
        </div>
      </div>
    </header>
    <section class="container">
      <div class="row">
        <div class="col">
          {{ .Content }}
        </div>
      </div>
    </section>

  </article>

</main>

{{ partial "bottomNav" . }}

{{ partial "ender" . }}
