// ==============================================================
// OFFCANVAS & PROJECT NAV
//
// Totally not UIkit's theme code... okay, it is.
// ==============================================================

.uk-offcanvas {
  & li > a {
    font-size: 1rem;
  }
}

.uk-nav-primary {
  & li > a {
    color: #fff;
    font-size: .875rem;
  }
}

.uk-offcanvas-bar {
  padding: 0;
}

.tm-sidebar-left {
  & #navHeader {
    background: #000;
    width: 100%;
    height: 100px;
    border-bottom: none;
    margin-bottom: 20px; // .75rem
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: $transition-ease-slow;

    &:hover, &:focus {
      opacity: .35;
    }

    & h2 {
      color: white;
      font-size: 1.25rem;
      line-height: 1;
      margin: 0;
    }
  }

  & .pansky-project-list-title {
    color: #8C8C8C;
  }

  & .uk-nav-primary > li {
    & > a {
      color: #fff;
      &:hover, &:focus {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  a {
    color: #fff;
    &:hover, &:focus {
      color: #fff;
      text-decoration: underline;
    }
  }

  & .uk-text-meta > a {
    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  & hr {
    border-top-color: $color-gray-AAlarge;
  }

  & #breadcrumbs {
    padding-bottom: 0; // .5rem
    & ul > li {
      display: inline-block;
    }
    & .uk-icon {
      position: relative;
      top: -1px;
    }
  }

  & .pansky-offcanvas-section {
    padding: 0 16px;
  }

  & .uk-container.uk-margin-large-bottom {
    max-width: none;
    padding: 0 !important;
    margin-bottom: 20px!important;

    & .uk-text-bold {
      display: none;
    }

    & .pansky-project-list-title {
      font-size: 1.1rem;
    }
  }
}

.tm-sidebar-left {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  box-sizing: border-box;
  color: $color-gray-AAA-on-primary;
  background: $color-primary;
  width: 240px !important;
  padding: 0;
  // border-right: 1px #e5e5e5 solid;
  overflow-y: auto;
  box-shadow: $shadow-material-depth-2;
  opacity: .15;
  transition: $transition-ease-slow;
  transform: translateX(-140px);

  &:hover, &:focus {
    box-shadow: $shadow-material-depth-5;
    opacity: 1;
    transition: $transition-ease-fast;
    transform: translateX(0);
  }

  // & .uk-active {
  //   background: #282c34;
  //   & > a {
  //     color: #abb2bf !important;
  //     padding-left: 10px;
  //   }
  // }
}

.deep-focus {
  box-shadow: $shadow-material-depth-5;
  opacity: 1;
  transition: $transition-ease-fast;
  transform: translateX(0);
}

.tm-sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px !important;
    padding: 10px;
    background: #fff;

  & .uk-nav-primary {
    & li > a {
      color: $color-gray-AAlarge;
      font-size: .675rem;
      line-height: 1.1;
      padding: 4px 0;
      &:hover, &:focus {
        color: $color-primary;
      }
    }

    & > li.uk-active > a {
      color: $color-primary;
    }
  }
}

@media (min-width: 960px) {
    .tm-sidebar-left+.tm-main {
        padding-left:240px;
    }
}

@media (min-width: 1200px) {
    .tm-sidebar-right {
        right: 0;
    }

    .tm-sidebar-left+.tm-main {
        padding-left: 40px;
    }
}

@media (min-width: 1400px) {
    // .tm-sidebar-left {
    //     width:300px !important;
    //     padding: 45px 45px 60px 45px
    // }

    .tm-sidebar-right {
        right: 0;
    }

    .tm-sidebar-left+.tm-main {
        padding-left: 40px
    }
}

.tm-navbar-container:not(.uk-navbar-transparent) {
    background: linear-gradient(to left, #28a5f5, #1e87f0)
}

.tm-navbar-container .uk-navbar-nav>li>a,.tm-navbar-container .uk-navbar-item:not(.uk-logo),.tm-navbar-container .uk-navbar-toggle {
    height: 70px;
    font-size: 13px
}

.tm-navbar-container .uk-navbar-nav>li>a {
    position: relative
}

.tm-navbar-container .uk-navbar-nav>li>a::before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    right: calc(102% - 15px);
    bottom: 20px;
    height: 1px;
    background-color: currentColor;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transition-property: right;
    transition-property: right
}

.tm-navbar-container .uk-navbar-nav>li>a:hover::before {
    right: 15px
}

.tm-nav>li.uk-active>a {
    position: relative
}

.tm-nav>li.uk-active>a:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -25px;
    width: 15px;
    border-top: 1px solid #1e87f0
}

.tm-nav .uk-nav-header {
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5
}

@media (min-width: 960px) {
    .tm-subnav {
        margin-left:-50px
    }

    .tm-subnav>* {
        padding-left: 50px
    }
}

.tm-subnav>*>:first-child {
    text-transform: capitalize
}

.tm-width-small {
    width: 80px
}
