// ==============================================================
// OLD
//
// Sorta like chromeframe
// ==============================================================

#old {
  display: none;
  @media (max-width: 319px) {
    display: block;
  }
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ddd;
  padding: 4px;
  text-align: center;
}
