// ==============================================================
// COMPONENTS => PORTFOLIO LIST
// ==============================================================

.wep-portfolio { 
  // padding: 10px;

  &-tag {

  }

  &-title {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: normal;
  }

  &-details {
    opacity: 0;
    display: none;
  }
} // end portfolio
