{{ partial "header" . }}

<section class="uk-section uk-container uk-container-small uk-text-center@l">
  <div>
    <h1 class="uk-heading-primary">William Pansky</h1>
    <p class="uk-text-lead">Front-end web developer and graphic designer with ability to solve complex website interface problems through creative and UX-minded solutions.</p>
    <!-- <p><a href="/resume">Resume</a></p> -->
  </div>
</section>

<section class="uk-section-xsmall">
  <!-- <div> -->
    <!-- <div id="wep-profile-image" class="uk-flex-first"></div> -->
    {{ partial "projects/projects-list" . }}
    {{ partial "resume/experience" . }}
    {{ partial "projects/portfolio-list" . }}
    <!-- {{ partial "projects/codepens-list" . }} -->
  <!-- </div> -->
</section>







{{ partial "footer" . }}
