<ul class="wep-socials uk-iconnav">
  <li>
    <a href="https://linkedin.com/in/williampansky" class="uk-padding-small" uk-icon="icon:linkedin; ratio:1.5;">
      <!-- LinkedIn -->
    </a>
  </li>
  <li>
    <a href="https://github.com/williampansky" class="uk-padding-small" uk-icon="icon:github; ratio:1.5;">
      <!-- GitHub -->
    </a>
  </li>
  <li>
    <a href="https://www.behance.net/williampansky" class="uk-padding-small" uk-icon="icon:behance; ratio:1.5;">
      <!-- Behance -->
    </a>
  </li>
</ul>
