/* main: ../main.scss*/

section#portfolio {
  ul,li {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
  }
  li {
    margin-bottom: 2rem;
  }
  img {
    max-width: 100%;
    margin-bottom: .5rem;
  }
  h2 {
    font-weight: 600;
  }
  h2:hover, {
    color: $accent;
    text-decoration: none;
  }
  h3 {
    font-weight: 400;
  }
  p {
    margin: 0;
  }
  a:hover, a:focus, h2:active {
    color: $accent;
    text-decoration: none;
  }
  .details-desktop {
    display: none;
  }
}
@media (min-width: 576px) { /* @media min-576*/
	section#portfolio {
    .details,h2 {
      display: none;
    }
    .cube {
      position: relative;
      overflow: hidden;
    }
    .details-desktop .text {
      padding: .5rem;
    }
    .details-desktop h3,p {
      color: $white;
      cursor: pointer;
    }
    .cube .details-desktop {
      position: absolute;
      left: 0;
      right: 0;
      width: 100.1%;
      height: 100%;
      display: table;
      background: rgba(247,103,8,0.85);
      transition: ease 300ms; /* Transition */
      -moz-transition: ease 300ms; /* Transition - Firefox 4 */
      -webkit-transition: ease 300ms; /* Transition - Safari & Chrome */
      -o-transition: ease 300ms; /* Transition - Opera */
      -ms-transition: ease 300ms; /* Transition - IE9? */
    }
    .cube:hover img {
      transition: ease 300ms; /* Transition */
      -moz-transition: ease 300ms; /* Transition - Firefox 4 */
      -webkit-transition: ease 300ms; /* Transition - Safari & Chrome */
      -o-transition: ease 300ms; /* Transition - Opera */
      -ms-transition: ease 300ms; /* Transition - IE9? */
    }
    .cube img{
      transition: ease 300ms; /* Transition */
      -moz-transition: ease 300ms; /* Transition - Firefox 4 */
      -webkit-transition: ease 300ms; /* Transition - Safari & Chrome */
      -o-transition: ease 300ms; /* Transition - Opera */
      -ms-transition: ease 300ms; /* Transition - IE9? */
    }
    /* .cube image:after {*/
    /*   content:'\A';*/
    /*   position:absolute;*/
    /*   width:100%; height:100%;*/
    /*   top:0; left:0;*/
    /*   background:rgba(0,0,0,0.6);*/
    /*   opacity:0;*/
    /* }*/
    /* .cube image:hover:after {*/
    /*   opacity:1;*/
    /* }*/
    .cube .details-desktop:nth-child(2) {
      top: 100%;
    }
    .cube:hover .details-desktop {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    ul {
      // display: -ms-inline-grid;
      // display: inline-grid;
      position: relative;
    }
    img {
      margin: 0;
    }
    li {
      width: 49%;
      float: left;
      margin: 0 5px 5px 0;
      overflow: auto;
      height: auto;
      text-align: left;
    }
	}
}
