// main: ../main.scss

nav {
  background-color: $white;
  text-align: center;
}
nav {
  ul {
    list-style-type: none;
    padding: 1.2rem 0 0;
    margin: 0 auto;
   }
  li {
    padding: 0 .25rem;
    margin: 0;
  }
  a {
    color: $wcag-lightest-black;
  }
  a:hover, a:active, a:focus {
    color: $accent;
    text-decoration: none;
  }
}
.float-xs-left {
  display: none;
}
@media (min-width: 475px) {
  .float-xs-left {
    display: block;
  }
}
.navbar {
  padding: 0;
}
