<aside class="wep-article-aside">
  <nav class="toc">
  	<ul>
  		<li><a href="#intro">Intro</a></li>
  		<li>
  			<a href="#dev">Developer Mode</a>
  			<ul>
  				<li><a href="#dev-edit-html">Edit HTML</a></li>
  				<li><a href="#dev-element-classes">Element Classes</a></li>
  				<li><a href="#dev-slide-classes">Slide Classes</a></li>
  				<li><a href="#dev-export-html">Export HTML</a></li>
  			</ul>
  		</li>
  		<li>
  			<a href="#css">CSS Editor</a>
        <ul>
          <li><a href="#css-fonts">Custom Fonts</a></li>
          <li><a href="#css-developer-mode">Developer Mode</a></li>
          <li><a href="#css-examples">Examples</a></li>
        </ul>
  		</li>
  	</ul>
    <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
      <path stroke="#444" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
    </svg>
  </nav>
</aside>
