{{ partial "header" . }}

{{ partial "offcanvas" . }}

<article class="uk-margin-large-bottom pansky-project">
  <header class="uk-container uk-margin-medium-top uk-margin-large-bottom uk-section uk-section-small">
    <h1 class="uk-article-title uk-text-bold">William Pansky</h1>
    <p class="uk-text-lead">Front-end web developer and graphic designer with a desire to solve complex website interface problems through creative and UX-minded solutions.</p>
  </header>
  <section id="contact" class="uk-container">
    <h2 class="uk-text-bold">Contact</h2>
    {{ partial "contact-form" . }}
  </section>
</article>

{{ partial "footer" . }}
