{{ partial "header" . }}

{{ partial "offcanvas" . }}

<article class="uk-margin-large-bottom pansky-project">
  <header class="uk-container uk-margin-medium-top uk-margin-large-bottom uk-section uk-section-small" id="#resume">
    <h1 class="uk-article-title uk-text-bold">William Pansky</h1>
    <p class="uk-text-lead">Front-end web developer and graphic designer with a desire to solve complex website interface problems through creative and UX-minded solutions.</p>
  </header>
  <section class="uk-container uk-margin-large-bottom">
    <div>
      <h2 class="uk-text-bold">Graphic Designer &amp; Front-end Web Developer</h2>
      <h4 class="uk-margin-small-bottom">Miller Ad Agency <em>— Full-service advertising agency.</em></h4>
      <h4 class="uk-text-meta">JUN 2014–PRESENT (3yr, 1mo) — Dallas, TX</h4>
      <ul class="uk-list uk-list-divider uk-text-small">
        <li>Directed, developed, and managed client web projects. Taught and instructed intra-agency team-members on Wordpress content design, creation, and publishing.</li>
        <li>Worked under the direction of the Creative Director and Art Director to design and produce advertisements for clients. Categories included, but not limited to: websites, email marketing, web and retargeting banners, direct mail, logos and branding, print materials and newspapers, billboards, commercial television graphics, etc.</li>
        <li>Constructed developmental workflow systems for proper SemVer codebase management using industry-standard build tools and software, including: SCSS/SASS, PostCSS, Gulp, Babel, &amp; Git.</li>
        <li>Designed and developed, with the agency Art Director, the website redesign for GoodwillDallas.org on Microsoft’s CMS platform, DotNetNuke (DNN).</li>
        <li>Cooperated with Account Executives to construct advertisements for clients following specific and extremely detailed guidelines, primarily in the T2/T3 automotive industry.</li>
        <li>Collaborated with fellow creatives in the art dept. to build creative campaigns.</li>
        <li>Researched, pitched, and implemented a new job tracking workflow for the creative department using Todoist.</li>
      </ul>
    </div>
  </section>
  <section class="uk-container uk-margin-large-bottom">
    <div>
      <h2 class="uk-text-bold">Graphic Designer</h2>
      <h4 class="uk-margin-small-bottom">ONE World Sports <em>— Multi-channel television corporation bringing top sports from overseas to the US.</em></h4>
      <h4 class="uk-text-meta">OCT 2010–MAR 2014 (3yr, 6mo) — Fort Worth, TX</h4>
      <ul class="uk-list uk-list-divider uk-text-small">
        <li>Developed multi-page direct mailers, posters, web materials, and more for ONE World Sports’ cable launch on DISH Network, Mediacomm, and Optimum TV.</li>
        <li>Created striking visual advertising posters for featured television sports programs.</li>
        <li>Directed the ONE World Sports website redesign with the Wordpress software to meet the requests of the marketing team in our venture into social media and blogging.</li>
        <li>Constructed banners, graphics, and additional elements for all the websites under the parent company, ONE Media Corp, Inc.</li>
        <li>Generated graphics, icons, and images for the release of ONE World Sport's mobile application on iOS and Android devices.</li>
        <li>Worked directly on material for inDemand to promote the AFC Asian Cup Qatar 2011; an event aired on US national television.</li>
        <li>Managed and implemented weekly components for ONE World Sports' alternative mobile presence on Verizon's VCAST network.</li>
        <li>Designed materials promoting ONE CONNXT in annual trade-shows; including Dubai's CABSAT, Singapore's CommunicAsia, and Europe's IBC.</li>
      </ul>
    </div>
  </section>
  <section class="uk-container uk-margin-large-bottom">
    <div>
      <h2 class="uk-text-bold">Graphic Designer</h2>
      <h4 class="uk-margin-small-bottom">Freelance Work</h4>
      <h4 class="uk-text-meta">JAN 2008–Present (9yr, 6mo) — Local &amp; Remote</h4>
      <ul class="uk-list uk-list-divider uk-text-small">
        <li>Album artwork, web graphics &amp; banners, websites, print advertisements, promotional items, photomanipulation imagery, conceptual visual &amp; identity strategies, trade show materials, apparel design, social ads, etc.</li>
      </ul>
    </div>
  </section>
  <section class="uk-container uk-margin-large-bottom">
    <div>
      <h2 class="uk-text-bold">Founder, Writer, Editor, Podcast Host</h2>
      <h4 class="uk-margin-small-bottom">The Nerdemic <em>— Video game editorial and news website I created late 2009; starting out as a simple weekly audio podcast and evolving into a 10+ contributor blog.</em></h4>
      <h4 class="uk-text-meta">NOV 2009–NOV 2011 (2yr) — Local &amp; Remote</h4>
      <ul class="uk-list uk-list-divider uk-text-small">
        <li>Published video game editorial articles, reviews, and news.</li>
        <li>Managed contributing freelance writers and edited their work prior to publication.</li>
        <li>Covered local industry events; such as the Fantastic Arcade and Texas Pinball Festival.</li>
        <li>Scheduled, hosted, and recorded a weekly industry-focused podcast.</li>
        <li>Crafted and deployed The Nerdemic’s visual branding and website.</li>
        <li>Manage website traffic and SEO operations.</li>
      </ul>
    </div>
  </section>
  <section class="uk-container uk-margin-large-bottom">
    <div>
      <h2 class="uk-text-bold">Graphic Designer</h2>
      <h4 class="uk-margin-small-bottom">Blue Moose Tees <em>— Design, print, and production apparel shop.</em></h4>
      <h4 class="uk-text-meta">OCT 2009–JUN 2010 (9mo) — Arlington, TX</h4>
      <ul class="uk-list uk-list-divider uk-text-small">
        <li>Managed company’s online portfolio.</li>
        <li>Designed client-specific graphic t-shirt orders ready for print.</li>
        <li>Recreated low-resolution and pixelated high school logos in Illustrator for use.</li>
      </ul>
    </div>
  </section>
  <section class="uk-container uk-margin-large-bottom">
    <div>
      <h2 class="uk-text-bold">Education</h2>
      <h4 class="uk-margin-small-bottom">Westwood College <em>— Associate’s degree, Graphic Design &amp; Multimedia.</em></h4>
      <h4 class="uk-text-meta">NOV 2008–OCT 2009</h4>
    </div>
  </section>
</article>

{{ partial "footer" . }}
