// ==============================================================
// HOMEPAGE
// ==============================================================

.pansky-project-list {

  &-title {
    margin: 0 0 4px;
    font-size: 1rem;
    font-family: Source Sans Pro, sans-serif;
  }

  &-description {
    font-size: .75rem;
    margin: 0;
  }

  & > li:nth-child(n+2) {
    border-top-color: $color-gray-AAlarge;
    padding-top: 10px !important;
    margin-top: 10px !important;
  }

  & .uk-icon {
    position: relative;
    bottom: 1px;
    margin: 0 2px;
  }
}
