// ==============================================================
// PROJECTS => SINGLE PROJECT
// ==============================================================

.pansky-project {
  // @media (min-width: 960px) { margin-left: 100px; }
  // @media (min-width: 1800px) { margin-left: 0; }

  &-details {
    & dl {
      border-left: 2px solid #ddd;
      padding-left: 8px;
      margin-left: 8px;
    }

    & dd {
      // display: inline-block;
    }
  }

  & .uk-accordion-content {
    opacity: 0;
  }

  &-readmore {
    font-size: 1rem;
    & .uk-icon {
      position: relative;
      bottom: 2px;
    }
  }

  &-readmore-content {
    // background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(238,238,238,0.65) 100%);
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    // display: none;
    // opacity: 0;

    & p {
      display: block !important;
    }
  }
} // end pansky-project

.pansky-project-vendor-logo {
  width: 100%;
  max-width: 100px;
  // height: 100%;
  opacity: 0;
}

.pansky-icon-sub {
  transform: rotate(-180deg);
  position: relative;
  bottom: 2px;
}

.pansky-icon-check {
  height: 30px;
  float: left;
}

.pansky-section-fullwidth {
  padding: 0 0 0 40px;
}

.pansky-code {
  background: #282c34;

  & pre {
    border: 0;
    border-radius: 0;
    background: transparent;
    padding: 0;
    margin-bottom: 0;

    &.uk-container {
      margin: 0 auto;
    }
  } // end pre

  & a {
    color: inherit;
  }

  &-inline {
    font-size: .75rem;
    color: #abb2bf;
    background: #282c34;
    // padding: 6px 10px;
    white-space: normal;
  }

  &-fullwidth {
    padding: 0 0 0 40px;
    // @media (min-width: 1800px) { margin-left: 100px; }
    @media (min-width: 1024px) {
      // margin-left: calc(-100vw / 2 + 600px / 2);
      // margin-right: calc(-100vw / 2 + 600px / 2);
      // width: 100vw;
      // min-width: 100%;
      // max-width: none;

      & pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
        padding: 0;
      }
    }
  }
}

$modal-color:     mix(white, #282c34, 40%);
$modal-color-bg:  mix(black, #282c34, 20%);

.uk-modal {
  &-header, &-footer {
    background: $modal-color-bg;
    border-color: mix(black, #282c34, 35%);
  }

  &-title {
    font-size: 1rem;
    color: $modal-color;
  }

  &-dialog {
    background: $modal-color-bg;
    width: 90vw;
  }

  &-body {
    background: $modal-color-bg;
    padding: 0;
  }

  &-footer {
    color: $modal-color;
  }

  & button, & .uk-close {
    color: $modal-color;
    border-color: $modal-color;
    &:hover, &:focus {
      color: #fff;
      border-color: #fff;
    }
  }

  & .pansky-code {
    background: $modal-color-bg;
    & pre {
      padding: 0;
      margin: 0 auto;
    }
  }
}
