// ==============================================================
// # RESETS
//
// Tackling the hard stuff, lol
// ==============================================================

// -----------------------------------------
// ## setting base px size for rems
html, body {
  font-size: 16px;
  line-height: 1.5;
}

html {
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
  @media (min-width: 1024px) { overflow: auto; }
}

a {
  color: $color-accent;
  text-decoration: underline;
  &:hover, &:focus {
    color: $color-accent-lighter;
    text-decoration: none;
  }
}

.uk-offcanvas-container,
.uk-offcanvas-page {
  overflow: hidden;
}

.uk-offcanvas-overlay::before {
  background: rgba(0,0,0,.75);
}

.noscroll { height: 100vw; overflow: hidden; }
