// ==============================================================
// FOOTER
//
// Styles and adjustments for the site's primary desktop footer
// ==============================================================

.uk-button-primary {
  background-color: $color-accent;
  &:hover, &:focus {
    background-color: $color-accent-lighter;
  }
}

.pansky-social {
  & li { padding: 0; }
  & a {
    padding: 24px;
  }
}
