<section id="portfolioList" class="uk-grid-collapse uk-grid-match uk-child-width-1-2@s uk-child-width-1-6@l" uk-grid>

  {{ range (where .Data.Pages.ByPublishDate "Section" "portfolio") }}

  <article class="wep-portfolio">
    <div class="wep-portfolio-content uk-background-cover uk-height-small uk-panel uk-text-center uk-flex uk-flex-center uk-flex-middle" style="background-image:url( '{{ .Params.featured }}' );">
      <a href="{{ .Permalink }}" title="{{ .Params.title }}">
        <span class="wep-portfolio-tag">{{ .Params.category }}</span>
        <h1 class="wep-portfolio-title">{{ .Title }}</h1>
      </a>
    </div>
  </article>

  {{ end }}

</section>
