<!-- jQuery v1.11.0  -->
<script src="../../js/jquery.min.js"></script>
<!-- Tether.js -->
<script src="../../js/tether.min.js"></script>
<!-- Bootstrap.js -->
<script src="../../js/bootstrap.min.js"></script>
<!-- Open Links Inside Portfolio Body Copy in New Tab -->
<script>
    var links = document.querySelectorAll( '#single a' );
    for (var i = 0, length = links.length; i < length; i++) {
        if (links[i].hostname != window.location.hostname) {
            links[i].target = '_blank';
        }
    }
</script>
