// main: ../main.scss

footer {
  margin-top: 0;
  margin-bottom: 2.2rem;
  padding: 0;
  // background-color: $gray-light;
}
footer {
  p {
    font-size: 0.75rem;
    margin: 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    font-size: 0.9rem;
    margin: 0 1.5rem .5rem 0;
    display: inline-block;
  }
  a {
    color: $black;
  }
  a:hover, a:focus, a:active {
    color: $accent;
    text-decoration: none;
  }
}
hr.footer {
  margin: .5rem 0 2rem;
}
