// main: ../main.scss

section#single{
  .details p {
    margin: 0;
  }
  .details {
    margin-bottom: 1rem;
  }
  .details strong {
    color: $black;
    letter-spacing: -0.4px;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  img {
    margin-bottom: 1rem;
  }
  p a {
    color: $accent;
    text-decoration: none;
  }
  p a:hover {
    color: $black;
  }
}
