// ==============================================================
// FOOTER
//
// Styles and adjustments for the site's primary desktop footer
// ==============================================================

.pansky-social {
    & li {
        padding: 0;
    }
    & a {
        padding: 24px;
    }
}

main > footer > * {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @media (min-width: 768px) {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    p {
        font-family: $font-sans;
        font-size: 0.675em;
        line-height: 1.25;
        margin: 0;
    }
}
