// ==============================================================
// GRID
//
// Styles and adjustments for the site's grid system.
// ==============================================================

.grid {
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-gap: 4em 1em;

    @media (min-width: 768px) {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'featured featured';
    }

    &-item {
    }

    &-item:nth-child(1) {
        @media (min-width: 960px) {
            grid-area: featured;

            .project-image-container {
                height: 350px;
            }
        }
    }
}
