// main: ../main.scss

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//
// # colors
// # https://scotch.io/tutorials/aesthetic-sass-2-colors
//
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
$color-black:                 #000;
$color-black-lighten-1:       mix(white, $color-black, 15%);
$color-black-lighten-2:       mix(white, $color-black, 30%);
$color-white:                 #fff;
$color-white-darken-1:        mix(black, $color-white, 5%);
$color-white-darken-2:        mix(black, $color-white, 10%);
$color-white-darken-3:        mix(black, $color-white, 20%);

$color-primary:               #607d8b; // blue-grey
$color-primary-lighten-1:     #78909c;
$color-primary-lighten-2:     #90a4ae;
$color-primary-darken-1:      #546e7a;
$color-primary-darken-2:      #455a64;

$color-accent:                #9e9e9e; // grey
$color-accent-lighten-1:      #bdbdbd;
$color-accent-lighten-2:      #e0e0e0;
$color-accent-darken-1:       #757575;
$color-accent-darken-2:       #616161;

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//
// # type
//
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
$type-body: 'Martel', serif;

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//
// # styles
//
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

// -----------------------------------------
// ## styles - buttons
$button-primary-color:        $color-white-darken-2;
$button-primary-color-hover:  $color-white;
$button-primary-bg:           $color-primary;
$button-primary-bg-hover:     $color-primary-lighten-1;
$button-primary-shadow:       $z-depth-1;
$button-primary-shadow-hover: $z-depth-3;

// -----------------------------------------
// ## styles - nav
$nav-color-section-title:   $color-white-darken-3;
$nav-color:                 $color-primary;
$nav-color-hover:           $color-primary-lighten-2;
$nav-color-bg:              inherit;
$nav-color-bg-hover:        $color-black-lighten-2;
$nav-color-hr:              $color-black-lighten-2;
$nav-base-bg:               $color-black-lighten-1;
