{{ partial "header" . }}
<div class="container">
  <div class="row col-lg-8 offset-lg-2">
    {{ partial "navigation" . }}
  </div>
</div>
<hr />
<main>
  <section id="intro">
    <div class="container">
      <div class="row col-lg-8 offset-lg-2">
        {{ range where .Site.Pages "Type" "=" "index" }} {{ .Content }} {{ end }}
      </div>
    </div>
  </section>
  <section id="portfolio">
    <div class="container">
      <div class="row col-lg-8 offset-lg-2">
        {{ partial "portfolio" . }}
      </div>
    </div>
  </section>
</main>
{{ partial "footer" . }}
