<!-- image -->
<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
  {{ with .Get "link"}}<a href="#{{.}}" uk-toggle>{{ end }}
    {{/* <span uk-icon="icon: expand"></span> */}}
    <img src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} />
  {{ if .Get "link"}}</a>{{ end }}
  {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
  <figcaption>{{ if isset .Params "title" }}
    <h4>{{ .Get "title" }}</h4>{{ end }}
      {{ if or (.Get "caption") (.Get "attr")}}<p>
      {{ .Get "caption" }}
      {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
        {{ .Get "attr" }}
      {{ if .Get "attrlink"}}</a> {{ end }}
      </p> {{ end }}
  </figcaption>
  {{ end }}
</figure>
<!-- image -->

<!-- <a class="uk-button uk-button-default" href="#{{ .Params.link }}" uk-toggle>Open</a> -->

<!-- MODAL => CENTER -->
<!-- <div id="{{ .Params.link }}" class="wep-modal" uk-modal="center: true">
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-outside" type="button" uk-close="ratio:2"></button>
    <img src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} />
  </div>
</div> -->

<!-- MODAL => FULL -->
<div id="{{ .Params.link }}" class="wep-modal-full uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-full uk-close-large" type="button" uk-close="ratio: 1.25;"></button>
    <div class="uk-grid-collapse uk-child-width-1-1 uk-flex-middle" uk-grid>
      <div class="uk-background-contain" style="background-image: url('{{ .Get "src" }}');" uk-height-viewport></div>
    </div>
  </div>
</div>
