// ======================================================
// # LINKS
// ======================================================
a,
a:link,
a:visited {
    color: var(--color-primary);
    text-decoration: underline;
    position: relative;
    transition: all 150ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);

    &:hover, &:focus {
        color: black;
        text-decoration: none;
    }

    &.token { color: inherit; }
}
